[2016-02-17 14:13] gmclelland opened #1693 "Small typo on https://processwire.com/docs/tutorials/how-to-use-url-segments/page3"
I couldn't find where to report this, so I apologize if this is the wrong place.

Anyways, I thought you would like to know.

![how to use url segments](https://cloud.githubusercontent.com/assets/40570/13111915/1fbc3002-d54e-11e5-8984-f305dad8ef2e.jpg)

[2016-02-17 14:54] LostKobrakai commented on #1693
It's fixed.

[2016-02-17 18:51] sunlix opened #1694 "content tab is not in active state under "modules" tree"
Hi,

I've notices on 2.7.3 dev that the content tab (first tab on page) is not in active state.
This behavior is on every page under "modules" tree. (permissions, roles etc.)

![screen-tab-not-active](https://cloud.githubusercontent.com/assets/301885/13120807/b4378e8c-d5af-11e5-960d-d39459b390b9.png)

regards,
Sven

[2016-02-17 22:20] adrianbj commented on #1694
Just a quick note to say that everything seems fine for me on the 3.x branch of PW, so if this is an issue on 2.7.3, then it has been fixed on 3.x.

I know you say it's every page under the - I assume you mean "Access" rather than "Modules" menu, but remember that it is intentional for the guest user because this can't be renamed. Same goes for the superuser role, and any of the built-in user perm

[2016-02-17 23:12] desaparecido opened #1695 "Upgrade from 2.7.2 to 3.0.8 give Class 'ModuleJS' not found"
As the title say , when upgrading PW from master to devns I have the following error :

[2016-02-17 23:22] adrianbj commented on #1695
Make sure you overwrite the wire folder rather than merging. PW 3.x no longer includes Fancybox - it used Magnific instead.

You may also need to Modules > Refresh.

[2016-02-17 23:28] desaparecido commented on #1695
ok solved. I was merging the folder.

[2016-02-17 23:28] #1695 closed

[2016-02-18 11:26] kbreynck opened #1696 "PW 3.0.8 // "Repeater Matrix" // "Matrix Type" // Multilanguage // Labels are not saved"
The Issue: "Matrix Type" Labels are not saved in additional language(s).

Setup: I have a multilanguage setup with "de" (default) and "en" (second language).

1. Add a new "Matrix Type" to a "Repeater Matrix"
2. Edit "Name" and "Label" of the default language
3.Save (everything is fine here)
4. Edit the "Label" in the diffrent language(s) field and Save again.

! The "Label" field in the additiona

[2016-02-18 11:35] kbreynck opened #1697 "PW 3.0.x // Multilanguage // Languages are not listed in the admin page "/admin/setup/languages/""
! Languages are not listed in this page view...

Admin > Setup > Languages
(Add New)

...but you have still access via the tab navigation in the top toolbar...

[SETUP]
-  [Templates]
-  [Fields]
-  [Logs]
-  [Language]
    - (+) Add New
    - de
    - en

[2016-02-18 15:55] rolandtoth opened #1698 "PW308: language translator loses language_id after save"
After saving a language in the language translator, the language_id parameter gets lost from the url. Therefore if you edit several languages on several tabs, language translator loads the default language on reload (save).

[2016-02-19 10:24] lparikka opened #1699 "log->prune() warnings in php-fpm environment"
We have problems with $log->prune() function. Our environment is chrooted php-fpm and normal operations (image upload, sessions etc.) work without problems. But when using $log->prune('ipuserdb_log.txt',30); we get errors in Apache error-log like this:

FastCGI: server "/php-fpm-lehti" stderr: PHP message: PHP Warning:  unlink(/www/web/site/assets/logs/ipuserdb_log.txt): No such file or directory

[2016-02-19 11:37] kixe opened #1700 "Notice: Trying to get property of non-object in /wire/core/Session.php on line 236"
Notice: Trying to get property of non-object in /wire/core/Session.php on line 236

found: $useFingerprint = $this->config->sessionFingerprint;
should be: $useFingerprint = $this->wire('config')->sessionFingerprint;

[2016-02-19 12:25] kixe opened #1701 "Typo in SessionHandlerDB (class constant 'tableName') produces Fatal Error"
Fatal error: Undefined class constant 'tableName' in wire/modules/Session/SessionHandlerDB/SessionHandlerDB.module on line 286

the defined constant is 'dbTableName' not 'tableName'

[2016-02-19 16:03] adrianbj opened #1702 "HTML tags in Warnings log"
I am seeing the following in the Setup > Logs > Warnings

[code]

This is one of my local test installs, hence the 777 and not being worried about it :)

[2016-02-19 22:51] LostKobrakai opened #1703 "File field RenderValueMode"
It would be nice to not show the drag&drop cursor when in RenderValueMode.

[code]

Same with these in main.css: `.Inputfields .InputfieldItemList .InputfieldItemHeader`

[2016-02-20 16:22] adrianbj opened #1705 "Missing "autoload" from list of available options in $config->debugTools"
Just a documentation issue with the 3.x branch

[code]

[2016-02-21 23:22] NameLess-- opened #1706 "Better Error-Handling when using Comments/CommentsManager-Module"
The current default behavior after installing "Comments" and the "CommentsManager" is that an Error occurs when trying to use "CommentsManager" if NO field with type "comment" exists.

Even uninstalling does not work, as CommentsManager requiers Comment.php to uninstall. But this file is not loaded until a comment-field exists. Vice versa the Comment-module can't be uninstalled because CommentsMan

[2016-02-22 15:27] LostKobrakai commented on #1232
@ryancramerdesign Could has_parent at least throw a big red error if it's used with multiple id's? This can cause serious memory leaks:
![screenshot 2016-02-22 16 25 19](https://cloud.githubusercontent.com/assets/2489835/13222612/feaab44c-d980-11e5-9d2a-1c5c0f345d97.png)
9 seconds off, just by fixing a wrong has_parent value.

[2016-02-22 15:30] #1148 closed

[2016-02-22 16:12] kbreynck opened #1707 "PW 3.0.8 // Repeater Matrix // Default "view" settings of image fields"
Images in repeater_matrix types are always displayed in grid view, even though its default view is set to rows.
You are only able to toggle the view after saving a new image.

[2016-02-22 16:23] LostKobrakai commented on #1232
Some additional info:
[code]
So maybe it could not only throw an error, but actually fallback to what the latter syntax does.

[2016-02-24 13:06] Jugibur opened #1708 "PW 3.0.8 // Textareas inside Repeater Matrix > "Notice" in backend"
After setting debug-> true I've got this message for each item inside a Textareas module:

But reading the value still properly works. It's just annoying to have a lot of these messages in the backend. And I need debug->true while developing...

[2016-02-24 13:28] adrianbj commented on #1708
Totally agree that any Notices need to be fixed, but in the meantime, if you install Tracy (http://modules.processwire.com/modules/tracy-debugger/) and uncheck Strict mode, it will capture warnings and notices, taking them out of the dom and into the debugger bar, or if you disable the debugger bar itself in the backend, then they will be logged to file instead.

Sorry for the shameless promotion

[2016-02-24 13:49] Jugibur commented on #1707
Doesn't help you, but in my installation this works as expected (set to a single image, could this be the reason?). Have you tried to override the settings of images inside the Repeater Matrix?

[2016-02-24 14:05] Jugibur commented on #1708
Sounds great, I will have a look at this.
Thanks for your hint!

[2016-02-24 17:28] Jugibur opened #1709 "Textareas inside Matrix Repeater > not fully visible after checkbox-click"
I'm using a dependency (checkbox-click) to show a Textarea (filled with input fields).
After a click, the Textareas-element is only visible with it's caption – and it also can't be show after clicking the right arrow of the Textareas box – only the caption stays visible.

Outside Matrix Repeater it works fine.

[2016-02-29 05:43] matjazpotocnik opened #1710 "Make modal close button larger"
something along:

`button .fa-times {font-size: 20px !important}`

[2016-02-29 05:47] matjazpotocnik opened #1711 "PW 3.0.9: Allow auto close modal window on Save"
Add an option to close modal edit, if there are no errors, by adding data-autoclose attributes to edit link in ProcessPageList.js (and make that configurable?), something like that:

`$a.attr('data-autoclose','#ProcessPageEdit #submit_save');`

[2016-02-29 11:05] Jugibur opened #1712 "SVG preview in raster mode > black background"
In row mode there is a nice white/gray raster like in Photoshop for images without background.

In raster mode the background is just black, so that dark SVG images doesn't
<img width="166" alt="svg-raster-mode" src="https://cloud.githubusercontent.com/assets/271000/13392707/b4dbf3ec-dedc-11e5-9de5-21d8a7d36da0.png">
recognised well.

[2016-02-29 16:05] adrianbj commented on #1712
As expected, the same goes for transparent PNGs as well.

[2016-02-29 21:08] yckart commented on #1662
Push :+1:

*The lonely +1er*

[2016-03-01 04:28] matjazpotocnik commented on #1710
I used AdminCustomFiles module to "fix" that, so this issues could be marked fixed or closed.

[2016-03-01 05:27] matjazpotocnik commented on #1711
I solved this by using AdminCustomFiles module.

[2016-03-01 05:27] #1711 closed

[2016-03-01 08:52] jtborger opened #1713 "Notice for array to string conversion line 555 Inputfield.php"
After submitting a form with formfields rendered via module->get("InputfieldText"), I got this Notice of array to string conversion on line 555 of Inputfield.php.

`if(i!strlen("$value") && (!$value = $this->get($attr))) continue; `
It typecastst it value to a string.
I displayed the contents of $value and it contained also error messages in array form.
Have not dived deep into all of this but:
`i

[2016-03-01 10:42] ryancramerdesign commented on #1678
I think the issue might be that you are trying to store the entire $input API var in session, and PW's $input  is not designed to be stored in a session (regardless of version). What you might want to do is instead store the individual vars from $input that you want into $session, rather than the entire thing. Also be sure you are storing sanitized data in $session. Lastly, I'd avoid using the ses

[2016-03-01 10:45] ryancramerdesign commented on #1664
Thanks @juergenweb I have added this.

[2016-03-01 11:01] ryancramerdesign commented on #1665
Thanks @LostKobrakai I've pushed a fix.

[2016-03-01 11:14] ryancramerdesign commented on #1666
Thanks @LostKobrakai I've pushed a fix.

[2016-03-01 11:15] #1667 closed

[2016-03-01 11:30] ryancramerdesign commented on #1655
Makes sense to me, I have updated this to use WireHttp instead, which attempts CURL as it's first choice. CURL is superior to fopen or sockets when it comes to download files because it writes them in chunks rather than trying to load whole file in memory as all the alternatives do.

[2016-03-01 11:35] ryancramerdesign commented on #1652
I've read through your issue report a couple of times, but I'm not clear on what the problem is that we're trying to solve? I see you've mentioned a solution, but what's the solution solving? Sorry, the morning coffee hasn't kicked in here yet. :)

[2016-03-01 11:40] ryancramerdesign commented on #1668
Thanks @Zarik I have pushed the fix.

[2016-03-01 12:59] matjazpotocnik commented on #1652
My solution solves se*cur*ity issue.

When copying a folder or file to an NTFS partition (same or different), the copy of the folder or file inherits the destination folder permissions. When moving a folder or file to the same NTFS partition, the folder or file will retains its original permissions.

Example:

- I have TEMP folder (source). Users A, B and C may create files on TEMP folder and they

[2016-03-01 13:19] ryancramerdesign commented on #1681
Good idea, I have added this in the latest commit to devns.

[2016-03-01 13:31] ryancramerdesign commented on #1652
Uploaded files should have user/group of the user Apache is running as (or as the user of the account), and file permissions that are consistent with $config->chmodFile setting in /site/config.php. PHP has no control over user/group, but can set file permissions, and that's what ProcessWire does after a file is uploaded. Are you saying that part isn't working in Windows?

[2016-03-01 14:03] matjazpotocnik commented on #1652
A lot of PHP file functions don't work on windows. There is no 644 permission on windows, so I don't know what could chmod possible do on windows ... that's why I use copy/unlink.

[2016-03-01 14:17] ryancramerdesign commented on #1682
@adrianbj I've pushed an attempted fix here, which seems to resolve it on this end. Let me know if you still see any issues on that end. Thanks.

[2016-03-01 14:26] ryancramerdesign commented on #1683
If you are using ProcessWire with PHP 7+ I recommend using the 3.0 version, which is compatible with PHP 7. Or if you want to use 2.7, you should be able to resolve this error by adding the following in the /wire/core/Wire.php file, as the first method in the Wire class:
[code]
I don't know about the table crashed error, but would guess that perhaps it might be related to the above, or maybe your

[2016-03-01 14:27] ryancramerdesign commented on #1684
Thanks for the reminder. :)

[2016-03-01 15:02] ryancramerdesign commented on #1686
I was initially looking at the issue you mentioned in #4 and #5 as that sounded like the biggest problem, but I can't duplicate that. If I upload an image with the same name as an existing one, it uploads it and appends "-1" to the file's basename. If I turn on the "overwrite" option, then it just replaces it. Note that when the "overwrite" option is on, it's going to replace the file immediately,

[2016-03-01 15:07] ryancramerdesign commented on #1687
The clone process doesn't get involved in the markup of individual fields, and hasn't ever before. Overall ProcessWire generally stays out of markup (other than that runtime MarkupQA class). I'm not sure how feasible it is for the clone process to get involved in modifying HTML in textarea fields, but I'll definitely take a closer look to see if it might be something we can do.

[2016-03-01 15:46] adrianbj commented on #1655
:+1:  Thanks Ryan!

[2016-03-01 15:46] #1655 closed

[2016-03-01 16:17] #1693 closed

[2016-03-02 00:07] maniqui commented on #1552
`Error: Call to undefined function __() `

In case anyone googling this error arrives here, I've been also bitten by it. In my case, the issue was that I was including a template (`<?php include $view ?>`, where `$view = './views/product.php'`), but I was missing a `<?php namespace ProcessWire;?>` at the very top of that template. Adding it, of course, fixed it.

[2016-03-02 00:21] adrianbj opened #1714 "Notice when uninstalling System Notifications"
[code]

[2016-03-02 00:31] adrianbj commented on #1682
Issue seems to be fixed - thanks Ryan!

[2016-03-02 00:31] #1682 closed

[2016-03-02 06:44] klor commented on #1683
Fixed. Thanks Ryan.

Fra: Ryan Cramer [mailto:notifications@github.com]
Sendt: 1. marts 2016 15:26
Til: ryancramerdesign/ProcessWire <ProcessWire@noreply.github.com>
Cc: klor <kristoffer@bohmann.dk>
Emne: Re: [ProcessWire] ProcessWire 2.7 update error: "Unknown error, please try again later" + "Deprecated: Wire has a deprecated constructor in \wire\core\Wire.php" (#1683)

If you are using ProcessW

[2016-03-02 10:47] ryancramerdesign commented on #1690
Yes, I can remove that. This really should be a matter for the admin theme rather than ProcessPageList.css

[2016-03-02 11:23] ryancramerdesign commented on #1691
I can't see any problem with increasing the hook priority level here, I've bumped it to 102 in the latest commit.

[2016-03-02 12:55] ryancramerdesign commented on #1692
Thanks @Jugibur I've pushed a fix for this. Though the way I was able to duplicate it was a little different than in your screenshot, so just wanted to confirm that it also fixes it on your end?

[2016-03-02 13:25] ryancramerdesign commented on #1696
Thanks @kbreynck I have fixed the issue and posted an update in the ProFields support board.

[2016-03-02 13:28] ryancramerdesign commented on #1697
I can't duplicate this one. If I click to Setup > Languages, I see all the languages. Double check that your languages don't have hidden or unpublished status. Let me know if you can think of any other reason why they might not be getting shown?

[2016-03-02 13:31] ryancramerdesign commented on #1698
The language_id parameter is only used to set the translation language, and from that point it's handled in the session, until it gets set to something else. As a result, ProcessLanguageTranslator would not support the context you've mentioned (several tabs translating different languages).

[2016-03-02 13:34] ryancramerdesign commented on #1699
I'm not sure about this one, as I don't have the environment to duplicate it. But the first thing I would check is your permissions on your site/assets/logs/ directory to make sure Apache can write to the directory. Also, if using $log->prune() from the API, double check that it isn't somehow getting called twice.

[2016-03-02 13:41] ryancramerdesign commented on #1700
@kixe what version of PW are you using? I'm using 3.0.x here. The `$this->config->sessionFingerprint;` is what it should be using, not the `$this->wire('config')` variation. Note the $this->config is a local property of the Session class, set by the constructor. I'm not seeing the 'property of non-object' notice here, so I think we need to look further to see why you are getting that. Maybe it's s

[2016-03-02 13:44] ryancramerdesign commented on #1701
Thanks @kixe I have pushed a fix for this.

[2016-03-02 13:51] ryancramerdesign commented on #1702
Some log entries can have HTML (like those coming from Notice::allowMarkup), though the HTML is not always important to the log. Even if not the case here, sometimes a block of HTML is an important part of the log entry, or the log entry lacks context without it. Of course, the HTML is never rendered as HTML, and logs are plain text files where HTML is not interpreted, but it is technically allowe

[2016-03-02 14:03] ryancramerdesign commented on #1706
Thanks @NameLess-- I've pushed a fix for this issue.

[2016-03-02 14:09] ryancramerdesign commented on #1707
Thanks @kbreynck I have pushed a fix for this issue.

[2016-03-02 14:14] #1702 closed

[2016-03-02 14:16] ryancramerdesign commented on #1708
I'm not seeing the error notice here, but will add an additional check to the ProFields Textareas module just in case. But also double check that your Textareas field is fully configured. The notice you are seeing seems to indicate the Textareas field lacks expected data.

[2016-03-02 14:23] ryancramerdesign commented on #1712
The InputfieldImage module is going to be replaced very soon, so I think we'll hold off on this update, but will double check we're using the white/grey grid for transparent images in the new one.

[2016-03-02 14:31] ryancramerdesign commented on #1713
Thanks @jtborger I have pushed a fix for this issue.

[2016-03-02 14:34] ryancramerdesign commented on #1714
Just to confirm, this is when "un-installing"? The line mentioned maps into the Modules::install() method, not the uninstall method, so wanted to double check.

[2016-03-02 14:48] trk opened #1715 "Repeaters with title, body fields note saving"
I added title and body fields to repeater. When i edit page with repeater, after save the page repeater fields are empty. If i add some custom created fields to repeater it working for custom fields.

Using latest devns version with languages support body and title fields have language support also.

[2016-03-02 15:13] ryancramerdesign commented on #1715
So far I can't duplicate the issue here. Most of my repeaters already use multi-language title and body fields. I tested various scenarios here, but all save normally. So there must be some other factor that we need to look at. Maybe a Modules > Refresh is needed, or maybe there is some other 3rd party module interfering. Look for errors in your JS console, as well as errors in your Setup > Logs >

[2016-03-02 15:39] trk commented on #1715
What i made for test and check problem :

Modules > Refresh
Modules > Clear compiled files
Setup > Fields > Title > Actions > Check Field Data
Setup > Fields > Body > Actions > Check Field Data
Setup > Fields > Repeater Field > Actions > Check Field Data
Setup > Logs there is no error
Firebug > Console There is no error on console

Result is same on my side

[2016-03-02 15:42] adrianbj commented on #1714
I was pretty sure it was during uninstall. I came across it twice last night, but can't reproduce it this morning :)

I'll keep an eye out!

[2016-03-02 16:21] trk commented on #1715
If i directly edit repeater item from :
Admin > Repeaters > repeater_field > repeater_page > repeater_item

Its saving the data. If i edit this data from repeater inside page its not saving modified data for body field.

Other fields saving inside same repeater (image, options)

[2016-03-02 18:01] rolandtoth commented on #1698
I see, thanks. It seemed like a bug because on page reload I didn't notice the language change (because on other tab another translator page was open).

[2016-03-02 20:21] kixe commented on #1700
The Error happened during development of an autoload module which redirect the user after detecting browser language (PW 3.0.8). You are right, obviously the session was instantiated before config was ready. Now everything is working properly an as expected. The Issue can be closed.

[2016-03-03 02:27] trk commented on #1715
I found the issue, if **Autojoin** option selected from field settings. Fields inside repeaters not saving.

[2016-03-03 16:05] somatonic opened #1716 "Alternate Pagelist Select double language label"
I have recognized this since a long time and thought I would update to 2.7.3 and it may be fixed but it's now adding doubled labels on the default field. In my opinion it's not even needed to show them at all.

DE
DE

FR
FR

IT
IT

![image](https://cloud.githubusercontent.com/assets/370148/13500245/fd71b9d4-e161-11e5-9121-814a29cf91d3.png)

[2016-03-03 18:01] Jugibur commented on #1708
I'm wondering what I could have forgotten. As I have seen right, necessary is only name and the definitions. But good news: After installing the bugfixed version no message appears, thanks!

[2016-03-03 18:03] Jugibur commented on #1712
Ok, sounds great. And perhaps a bigger preview of the images in grid mode?
Currently they are very small.

[2016-03-03 18:29] Jugibur commented on #1692
Have tested it now and both problems are gone, thanks!

[2016-03-03 19:08] Jugibur commented on #1708
Don't know why, but now the notice is back...
But what could I have done wrong?
I have set a name an the following definition:
![textareas](https://cloud.githubusercontent.com/assets/271000/13505754/e9669784-e17a-11e5-8a0c-362f417294d2.png)

See, I have left the german field blank and don't use multilanguage-support. But insert the definition in the translation area doesn't remove the notice.

And

[2016-03-04 05:27] teppokoivula opened #1717 "Ajax-loaded tabs cause interruptions and weird jumping"
I'm currently experiencing this on 2.7.2, so not sure if the 3.x branch behaves differently, but:

If I click the children tab and then navigate elsewhere, when the AJAX load is finished, the children tab gets focus and whatever else I was doing is interrupted. This is particularly annoying if the children tab takes a while to load.. which also happens to be when AJAX loading is most helpful.

Not

[2016-03-04 11:21] ryancramerdesign commented on #1717
@teppokoivula I agree, I've just pushed a fix for this issue.

[2016-03-04 11:24] ryancramerdesign commented on #1715
Glad you found it. The autojoin option is one that may not work everywhere, so unless dealing with just a simple text field or something, it has to be used with caution. In the case of repeaters, we will probably just want to disable the autojoin option entirely since it seems to be incompatible (plus, it wouldn't provide any benefit for repeaters).

[2016-03-04 12:11] trk commented on #1715
If we have auto join option for fields (title, body, etc...), if we want to use these fields with repeaters need to remove (unselect) this option from field settings.
or
We won't use these fields (title, body, etc...), we will create new fields (title_repeater, body_repeater, etc...) without auto join option for repeaters.

[2016-03-04 13:08] ryancramerdesign commented on #1715
It is fine to use autojoin for the fields in a repeater (title, body,
etc.), just not for the repeater itself. Meaning, when editing a repeater
field in Setup > Fields > my_repeater, don't use the autojoin option on the
Advanced tab. For the other fields that you might be using in the repeater,
it should not matter if autojoin is used or not.

Though I've found there to be little benefit to autojo

[2016-03-04 13:37] trk commented on #1715
Repeater field not have auto join option in field settings (there is no option available). Fields inside repeater field have auto join option.

[2016-03-04 15:11] somatonic opened #1718 "Session: Changed: Body although nothing changed"
![image](https://cloud.githubusercontent.com/assets/370148/13530832/a36e7874-e223-11e5-8906-eb0a06481517.png)

I get this message on every save, although nothing has changed. I tracked it down to HTML Purifier being disabled. Once I enable it, it doesn't show anymore.

This is confusing.

[2016-03-04 15:26] somatonic opened #1719 "Pagelist Label format"
![image](https://cloud.githubusercontent.com/assets/370148/13531157/5dcd3b14-e225-11e5-8d61-56f7da80d81c.png)

I have tried to use the new label format for templates. Which is nice, but as soon as I use that for a PagelistSelectMultple input, a page field is rendered as UL in the label of the selected pages.

{date} {title} (Lang: {language_published.title})

Also I didn't expect that the page lis

[2016-03-04 15:36] somatonic commented on #1719
So if I use the "title" as the label for the page field, also the page list tree's label all use the "title", and not the label format I defined in their respective templates.

This really makes this combination kinda useless. I want the page list label to stay as they're are defined in their template and even be able to keep that for the selected items if possible. Now I have to define the same l

[2016-03-04 15:42] somatonic commented on #1719
I tried to use the ASMselect type, but then there's the UL markup too for the page field:

![image](https://cloud.githubusercontent.com/assets/370148/13531665/0197fe58-e228-11e5-837c-7d69fa7f3bb5.png)

[2016-03-04 16:02] ryancramerdesign commented on #1715
I'm not seeing any issue here with fields having autojoin within a repeater. They are saving normally for me at least, though I'm testing in the latest PW 3.x core version. Autojoin of fields really shouldn't matter to a repeater, as the page loading/saving is still handled by the core Pages class, not the repeater. The only potential issue I can see is if autojoin is enabled for the my_repeater f

[2016-03-04 20:14] adrianbj opened #1720 "Notice when installing Imagick Image Sizer"
![screen shot 2016-03-04 at 12 12 37 pm](https://cloud.githubusercontent.com/assets/871211/13539044/b073bffa-e202-11e5-83c7-05569dfed08a.png)

[2016-03-04 20:16] adrianbj commented on #1720
It seems to be only with this module - no problem installing other ones.

[2016-03-04 20:30] adrianbj commented on #1720
Only happens when you don't have Imagick available. If you do, then the notice isn't thrown. Still I think there should be a check for this to prevent it.

[2016-03-04 20:35] adrianbj commented on #1720
Related thought - what would happen when migrating a site from a server that has iMagick to one that doesn't - the modules table in the db will have an entry for it and so it will be installed. Is there a check that will uninstall it if it's not available? or doesn't it matter because of the fallback to GD anyway?

[2016-03-05 07:31] BitPoet opened #1721 "Feature request: Adding execute methods to Process modules through hooks"
Currently it isn't possible to add custom executeXXX methods to Process modules through addHook, as getProcessMethodName checks if an aptly named method can be found through method_exists. Relevant code:
`if(method_exists($process, $method) || method_exists($process, $hookedMethod)) return $method;`
This could easily be fixed by also checking for a hook with that name:
`if(method_exists($process,

[2016-03-05 09:54] BitPoet commented on #1687
I've wrapped a snippet of code I've been using to do just that into a [small module and put it on github](https://github.com/BitPoet/ProcessPageCloneAdaptUrls). It just hooks into Pages::cloned, iterates through all fields for ones configured with InputfieldCKEditor and rewrites /site/assets/files/$oldid/ to /site/assets/files/$newid/ inside src and href attributes using a regex.

[2016-03-05 10:13] tbba commented on #1687
Hi, this sounds very cool.Thank you, BitPoet.
I was sure this worked before in the core but I probably remember that wrong.

(Can the issue be closed? - Its marked as "feature request" and now there is an existing workaround)

[2016-03-05 11:36] BitPoet commented on #1687
You're welcome @tbba. Just a heads up that I've eliminated a rather embarrassing bug (don't ask) in my module code and got language support working.

[2016-03-05 11:49] trk commented on #1715
I am using ProcessWire 3.0.10 devns commit number 1674

As you see i don't have an auto join option in repeater field settings
![ekran resmi 2016-03-05 13 05 12](https://cloud.githubusercontent.com/assets/455983/13547232/f307748a-e2d2-11e5-9242-85a6c85f84fc.png)

If my body field have this auto join option

![ekran resmi 2016-03-05 13 06 38](https://cloud.githubusercontent.com/assets/455983/135472

[2016-03-05 11:58] fijha opened #1722 "PW 3.0.10 — Repeater dynamic loading (AJAX) in editor — CKEditor (inline) won't load custom CSS!"
**Repeater dynamic loading (AJAX) in editor:**

— when set to "**Existing and new items**" CKEditor (inline) won't load "**Custom Editor CSS style (inline mode)**" "/site/modules/InputfieldCKEditor/contents-inline.css"…

— when set to "**New items only**" it loads fine…

[2016-03-05 12:46] tbba commented on #1687
Very cool!

[2016-03-05 21:26] krisj opened #1723 "Cannot get the front-end editing to work on a fresh 3.0.10 install AND solution"
So I did a fresh install from git of the latest 3.0.10

Using the multi-language profile tried to set up the front end editing. Noticed CKEditor plugin load errors and changes would not save with a "no changes to save" error. (obviously CKEditor wasn't loading to begin with)

To solve I had to copy the 3 plugins: pwlink, pwimage and sourcedialog from

/wire/modules/Inputfield/InputfieldCKEditor/pl

[2016-03-06 07:16] teppokoivula commented on #1552
This issue doesn't seem to exist anymore. Closing.

[2016-03-06 07:16] #1552 closed

[2016-03-06 07:34] teppokoivula commented on #1715
For the record, I can't seem to reproduce this issue either. Tested with 3.0.6 and 3.0.10.

[2016-03-06 07:47] teppokoivula commented on #1717
@ryancramerdesign Thanks. This also seems to have fixed another issue I've been having with this feature, i.e. not having a proper load indicator.

This does lead to another question, though: in my case the problem is specifically related to 2.7.2. Are you planning to migrate some of the fixes applied to 3.x to 2.x too? If not, I can always backport this locally, but I'd like to avoid doing that f

[2016-03-06 11:50] yckart opened #1724 "Reliable releases tags"
The provided master version on https://processwire.com/ is `2.7.2`, [here at github](https://github.com/ryancramerdesign/ProcessWire/releases) `2.7.1`. Would be nice if we could rely on them ;)

Also tags for `dev` and `devns` could be helpful.

[2016-03-06 16:02] adrianbj commented on #1724
Agreed - I have never really like the approach of having the release tag show only the last version, not the current one. It seems to go against the convention used in other projects.

[2016-03-06 17:32] yckart opened #1725 "PageAutocomplete incorrect default options"
There are some fields that have incorrect options per default (in relation to their description or title). I can unfortunately just remember those for `PageAutocomplete`

- **Input**
  - **Label field**
    - `Custom format (multiple fields)...` should be `title (default)`
      (Note: *Select "Custom format" if you want to specify multiple fields, or other fields you do not see above.*)

  - **Au

[2016-03-06 17:42] adrianbj commented on #1725
Duplicate of: https://github.com/ryancramerdesign/ProcessWire/issues/1018 ?

[2016-03-06 17:46] yckart commented on #1725
@adrianbj Ough! I'm tired, haven't slept. Go to bed now :sleeping:

[2016-03-06 17:46] #1725 closed

[2016-03-06 21:53] adrianbj commented on #1018
Ryan,

Definitely worth taking a look at #1725 - @yckart mentions some other issues.

[2016-03-07 03:38] adrianbj opened #1726 "Conditional autoload function always results in module autoloading in PW 3"
This could affect many modules!!

[code]
results in the module autoloading. As soon as I downgrade to PW 2.7.3, it doesn't load, as expected. I am refreshing the modules page with each testing change.

Obviously, my actual function had some conditional logic in it, but I was simplifying for testing purposes.

Selector conditions still work as expected, eg:
[code]

[2016-03-07 09:54] fijha opened #1727 "PW 3.0.10 — Admin image thumbnails unexpectedly smaller (50px)"
Sometimes image thumbnails are smaller **(50px)** instead of 100px as configured…

`<img height="50" data-gridsize="50" alt="" src="…`

`$config->adminThumbOptions` are set to default `'height' => 100`

I'm experiencing this only with superuser role… When I try another non-superuser role, thumbs are 100px

`<img height="100" data-gridsize="100" alt="" src="…`

— so only `img` attributes are someti

[2016-03-07 10:23] mikelexp opened #1728 "Latest 3.0.10 changes to Pagefile::install method breaks adding new files"
I had to revert this commit in order to stop it from constantly throwing exceptions when I try to add a file/image using $page->images->add(filepath) because WireHttp fails to download a local file path, it always wants you to pass a valid URL as a parameter, not a file path.

I reverted this commit and it's working fine again.

https://github.com/ryancramerdesign/ProcessWire/commit/582e6e17808116

[2016-03-07 11:23] somatonic opened #1729 "Admin Menu DropDown doesn't work on Mobile (Chrome Browser)"
Not sure why there's no issue yet, cause it's not working since v 2.4 or 2.5.

I can "touch" the collapsed top menu, and it drops down but then collapse right away.

[2016-03-07 11:30] ryancramerdesign commented on #1727
In your `$config->adminThumbOptions` look at the `scale` option. If set to 0.5 it will make the thumbnails 50% size (i.e. 50px). If set to 1 (integer) it will set the thumbs to 50% scale if it detects you are using a HiDPI/Retina display (1 is the default setting). Or if set to 1.0 it will always display them at 100%, which sounds like the setting you want here.

[2016-03-07 11:34] ryancramerdesign commented on #1726
Thanks Adrian, I've pushed a fix for this. It was working for 3.x modules but not for 2.x modules, due to a namespace detection issue.

[2016-03-07 11:36] LostKobrakai opened #1730 "Lister click actions"
I'm not sure if javascript can detect this, but I'm often using middle-mouse button to open links in a new tab (or cmd+click). When used on lister items this just does open the same lister again in another tab, which is not only not my intend, but can also be a quite resource heavy request. Could this default to editing the clicked page?

[2016-03-07 11:44] ryancramerdesign commented on #1728
Thanks @mikelexp I've pushed a fix for this.

[2016-03-07 11:47] LostKobrakai opened #1731 "insertBefore/After convenience"
WireArray::insertBefore/After() does always require valid items to be passed in. Now for extended classes of WireArray, like e.g. Fieldgroup, it would be nice to have the convenience to have unique keys be automatically resolved to the valid objects.

[code]

instead of

[code]

[2016-03-07 12:10] fijha commented on #1727
Hi Ryan, all `adminThumbOptions` are set to default (I have not changed any of them):

<pre>
$config->adminThumbOptions = array(
	'width' => 0, // max width of admin thumbnail or 0 for proportional to height
	'height' => 100, // max height of admin thumbnail or 0 for proportional to width
	'scale' => 1, // admin thumb scale (1=auto detect, 0.5=always hidpi, 1.0=force non-hidpi)
	'upscaling' => fal

[2016-03-07 12:33] LostKobrakai opened #1732 "Pages::add() and PagesType::add() alignment"
It would be nice if both Pages::add() and PagesType::add() would align more in terms of functionality. Currently the latter does miss the option to set values by a data array and it does return a NullPage instead of throwing an exception. While it's internally not the case I see both classes as the same kind of pages repository only different by how restricted they are, which is why I think this s

[2016-03-07 12:43] LostKobrakai commented on #1732
This can be used by custom PagesType classes.

[code]

[2016-03-07 12:48] ryancramerdesign commented on #1727
What you are seeing is the default behavior, which optimizes the size to
the DPI of the display. If you don't want any scaling, you need to set your
scale value to 1.0 (floating point).
On Mar 7, 2016 7:10 AM, "Jany" <notifications@github.com> wrote:

[2016-03-07 12:52] LostKobrakai commented on #1727
Your first post does sound like this is not specific to any computer and therefore monitor. If this scaling change does happen on the same monitor, than it's really a bug.

[2016-03-07 13:00] fijha commented on #1727
I don't have retina display so I think it shouldn't be scaled… I'm on the same monitor… and when I login as different user (non-superuser) on the same browser (Firefox — Private Window) the scaling is normal…

[2016-03-07 13:11] ryancramerdesign commented on #1723
Thanks @krisj I've pushed a fix for the issue. It wasn't actually an issue of files in the wrong location, but rather a JS error occurring in a dynamically loaded script, which prevented the CKE plugins from being loaded properly.

[2016-03-07 13:17] krisj commented on #1723
Great and thanks for the lightning fast fix!

[2016-03-07 13:17] #1723 closed

[2016-03-07 13:24] ryancramerdesign commented on #1720
Thanks Adrian, I've pushed a fix for this.

[2016-03-07 13:46] lparikka commented on #1699
The permissions are ok for anyone to write. The method is called only once like this:
$log->save('ipuserdb_log', $message);
$log->prune('ipuserdb_log', 30);

The real path to the file is /data/www/server.com/www/web/site/assets/logs/ipuserdb_log. The php5-fpm environment chroot the php to /www/web/site/assets/logs. For some reason the prune-method doesn't find the file in that path even though all

[2016-03-07 14:05] ryancramerdesign commented on #1718
Thanks @somatonic I've tracked down the issue and committed a fix. It turns out to carriage return vs linefeed issue. CKEditor apparently inserts carriage returns which Purifier removes.

[2016-03-07 14:24] fijha commented on #1727
I have found something… It's not related to user role… it only happens when I load PW in `iframe` like
`/pw/page/edit/?id=1052&modal=1` and when I login through the iframe, so then the **session var** `s:5:"hidpi";b:1;` is set incorrectly to `true`… otherwise is set correctly to `s:5:"hidpi";b:0;` `false`…

— maybe it should fallback default to `false` if it can't correctly detect…

[2016-03-07 17:56] adrianbj commented on #1720
Thanks - seems to be fine now!

[2016-03-07 17:56] #1720 closed

[2016-03-07 23:16] mikelexp commented on #1728
Thank you for the quick fix Ryan!

[2016-03-07 23:16] #1728 closed

[2016-03-08 00:54] adrianbj opened #1734 "Missing array_merge in PageFinder::getQuery??"
Not sure on this, but I wonder if:
[code]
should be added to the top of the getQuery function. I noticed that without it, if you try do the following:
[code]
you get an "Undefined index: returnVerbose" notice.

Obviously you could do this instead:
[code]
but wonder if the defaults should be populated to this function?

[2016-03-08 13:27] FerdiAgrio opened #1735 "PW 3.0.8 | FileCompiler filetypes"
Hi there!

After completing a new module which uses TwitterOAuth class from Abraham Williams (https://twitteroauth.com/), the PW FileCompiler leaves the file cacert.pem behind when compiling is finished. This results in an incomplete cached folder and breaks PW.
`ProcessWire: ProcessModule: error setting certificate verify locations: CAfile: /Users/ferdi/Sites/www_domains/pw_3.0.8/htdocs/site/asse

[2016-03-08 22:59] fijha opened #1736 "PW 3.0.10 — InputfieldImageListToggle double icon"
![inputfieldimagelisttoggle](https://cloud.githubusercontent.com/assets/17672049/13619245/4c4a730a-e588-11e5-8d3f-75a3318e474c.png)

When I set image field visibility to "**Closed + Load only when opened (AJAX) †**" the `InputfieldImageListToggle` icon is doubled on ajax load

— the icon is already there, so no need to insert it again on ajax load…

`<a href="#" class="InputfieldImageListToggle Hi

[2016-03-09 04:21] yckart opened #1737 "Long-click buttons for everything"
Would nice to have the long-click feature on more buttons. For example, installing a module and keep us on the modules-overview page, instead of redirecting to a module-informations page etc.

[2016-03-09 04:22] yckart opened #1738 "Long-click buttons for everything"
Would nice to have the long-click feature on more buttons. For example, installing a module and keep us on the modules-overview page, instead of redirecting to a module-informations page etc.

[2016-03-09 04:22] #1738 closed

[2016-03-09 10:21] #1718 closed

[2016-03-09 10:22] #1547 closed

[2016-03-09 10:22] #1533 closed

[2016-03-09 10:22] #1531 closed

[2016-03-09 10:23] #1513 closed

[2016-03-09 10:23] #1530 closed

[2016-03-09 10:25] #1236 closed

[2016-03-09 10:25] #1510 closed

[2016-03-09 10:26] #1222 closed

[2016-03-09 10:44] kbreynck commented on #1697
I updated to 3.0.10 but no changes here and really don't have any clues.

The status of both languages aren't hidden or locked.
I didn't change any roles and i have access.

The **Info** section says:

[code]
Is it possible, that this has something to do with the fact, that i changed the "default" language from **en** to **de** and translated it?

I don't know if that helps, but...:
_on page: http

[2016-03-09 11:03] #1144 closed

[2016-03-09 15:41] gingebaker commented on #1171
Just stumbled across this problem...

Changed this Line:
https://github.com/ryancramerdesign/ProcessWire/blob/dev/wire/modules/Fieldtype/FieldtypeComments/CommentNotifications.php#L120

to
[code]
editUrl() function could possibly give back an full URL so I did that check for http at the beginning.

[2016-03-09 16:05] TomS- opened #1739 "PW 3.0.10 - Strange behaviour with the use include"
In my HTML I have a <p> tag with the word include inside. However when output to the browser the word include is replaced with include(\ProcessWire\wire('files')->compile(a/home/thelandtoforget1/public_html/site/templates/ny logos,array('includes'=>true,'namespace'=>true,'modules'=>true))

The full sentence is "include any logos".

[2016-03-09 18:00] jlahijani opened #1740 "FormBuilder: Uncaught Error: Bootstrap's JavaScript requires jQuery version 1.9.1 or higher"
I'm using PW 2.7.3 and FormBuilder 0.2.5e.

I have a form which I'm embedding using method A (iframe based).  I'm using the Bootstrap output framework.  No other special settings or file modifications.

It results in the following JS error:

`Uncaught Error: Bootstrap's JavaScript requires jQuery version 1.9.1 or higher`

[2016-03-09 18:30] adrianbj opened #1741 "References to $config->compat2x still exist"
eg. https://github.com/ryancramerdesign/ProcessWire/blob/devns/wire/core/Modules.php#L1324

I am pretty sure that mode no longer exists.

[2016-03-09 19:12] adrianbj commented on #1726
Thanks Ryan - I was sure I already commented on this to say it's working and closed it - oh well :)

[2016-03-09 19:12] #1726 closed

[2016-03-10 03:29] yckart opened #1742 "PageTable columns per selected template"
Would nice to be able to define the shown columns for each selected template.

[2016-03-10 04:07] yckart commented on #1730
The javascript part is a simple `event.button === 1` check. Some old browser (IE < 9) uses `event.which` instead and other values to compare against...

[code]
https://www.w3.org/TR/2000/REC-DOM-Level-2-Events-20001113/events.html#Events-eventgroupings-mouseevents

[2016-03-10 07:25] isellsoap commented on #519
@hauptbenutzer Can this issue be closed?

[2016-03-10 07:26] isellsoap commented on #623
@jtherczeg Can this issue be closed?

[2016-03-10 07:27] isellsoap commented on #629
@ryancramerdesign Since @jtherczeg doesn’t seem to be very active on GitHub, can you please close this issue? Thank you!

[2016-03-10 07:28] isellsoap commented on #634
@Da-Fecto Can this issue be closed?

[2016-03-10 07:30] isellsoap commented on #842
@ryancramerdesign Could you please close this issue? @alexanderpt doesn’t seem to do so.

[2016-03-10 07:30] isellsoap commented on #1049
@ryancramerdesign Can you close this issue?

[2016-03-10 07:31] isellsoap commented on #1244
@ryancramerdesign Can you close this issue?

[2016-03-10 07:33] isellsoap commented on #1335
@nickbouton Cool! Can you close the issue? Thank you!

[2016-03-10 07:34] isellsoap commented on #1359
@mr-fan Can you close this issue, please? Thank you!

[2016-03-10 07:34] isellsoap commented on #1376
@Toutouwai Can you close this issue please? Thank you!

[2016-03-10 07:34] isellsoap commented on #1382
@klor Can you close this issue please? Thank you!

[2016-03-10 07:34] isellsoap commented on #1393
@MadeMyDay Can you close this issue please? Thank you!

[2016-03-10 07:35] isellsoap commented on #1395
@tomfrit Can you close this issue please? Thank you!

[2016-03-10 07:35] isellsoap commented on #1416
@bitmarker Can you close this issue please? Thank you!

[2016-03-10 07:35] isellsoap commented on #1417
@blynx Can you close this issue please? Thank you!

[2016-03-10 07:36] isellsoap commented on #1426
@ryancramerdesign Is this issue really fixed?

[2016-03-10 07:36] isellsoap commented on #1428
@Toutouwai Can you close this issue please? Thank you!

[2016-03-10 07:36] isellsoap commented on #1434
@LostKobrakai Can you close this issue please? Thank you!

[2016-03-10 07:36] isellsoap commented on #1443
@Majini Can you close this issue please? Thank you!

[2016-03-10 07:37] isellsoap commented on #1450
@jriihi Can you close this issue please? Thank you!

[2016-03-10 07:38] isellsoap commented on #1459
@ryancramerdesign Investigate more on this?

[2016-03-10 07:38] isellsoap commented on #1471
@Manfred62 Can you close this issue please? Thank you!

[2016-03-10 07:39] isellsoap commented on #1479
@FerdiAgrio Can you close this issue please? Thank you!

[2016-03-10 07:39] isellsoap commented on #1483
@somatonic Can you close this issue please? Thank you!

[2016-03-10 07:39] isellsoap commented on #1509
@GerardLuskin Can you close this issue please? Thank you!

[2016-03-10 07:39] isellsoap commented on #1568
@Toutouwai Can you close this issue please? Thank you!

[2016-03-10 07:39] isellsoap commented on #1585
@jacmaes Can you close this issue please? Thank you!

[2016-03-10 07:39] #1443 closed

[2016-03-10 07:40] isellsoap commented on #1590
@TomS- Can you close this issue please? Thank you!

[2016-03-10 07:40] isellsoap commented on #1597
@TomS- Can you close this issue please? Thank you!

[2016-03-10 07:40] Majini commented on #1443
Hi Francesco

Done!

Thanks for the message :)

Cheers

On Thu, Mar 10, 2016 at 3:37 PM, Francesco Schwarz <notifications@github.com

[2016-03-10 07:40] #1393 closed

[2016-03-10 07:41] isellsoap commented on #1614
@jlahijani Can you close this issue please? Thank you!

[2016-03-10 07:41] isellsoap commented on #1617
@juergenweb Can you close this issue please? Thank you!

[2016-03-10 07:42] isellsoap commented on #1622
@captain-speculatius Can you close this issue please? Thank you!

[2016-03-10 07:42] isellsoap commented on #1625
@eresik Can you close this issue please? Thank you!

[2016-03-10 07:42] isellsoap commented on #1634
@rolandtoth Can you close this issue please? Thank you!

[2016-03-10 07:42] isellsoap commented on #1640
@Notanotherdotcom Can you close this issue please? Thank you!

[2016-03-10 07:42] isellsoap commented on #1649
@rolandtoth Can you close this issue please? Thank you!

[2016-03-10 07:43] isellsoap commented on #1650
@gmclelland Can you close this issue please? Thank you!

[2016-03-10 07:43] isellsoap commented on #1665
@LostKobrakai Can you close this issue please? Thank you!

[2016-03-10 07:43] isellsoap commented on #1666
@LostKobrakai Can you close this issue please? Thank you!

[2016-03-10 07:43] isellsoap commented on #1668
@Zarik Can you close this issue please? Thank you!

[2016-03-10 07:43] isellsoap commented on #1674
@rolandtoth Can you close this issue please? Thank you!

[2016-03-10 07:44] isellsoap commented on #1692
@Jugibur Can you close this issue please? Thank you!

[2016-03-10 07:44] isellsoap commented on #1694
@sunlix Can you close this issue please? Thank you!

[2016-03-10 07:44] isellsoap commented on #1696
@kbreynck Can you close this issue please? Thank you!

[2016-03-10 07:44] isellsoap commented on #1701
@kixe Can you close this issue please? Thank you!

[2016-03-10 07:44] isellsoap commented on #1705
@adrianbj Can you close this issue please? Thank you!

[2016-03-10 07:45] isellsoap commented on #1706
@NameLess-- Can you close this issue please? Thank you!

[2016-03-10 07:45] isellsoap commented on #1707
@kbreynck Can you close this issue please? Thank you!

[2016-03-10 07:45] isellsoap commented on #1713
@jtborger Can you close this issue please? Thank you!

[2016-03-10 07:47] isellsoap commented on #701
@ryancramerdesign Since @MrEd69 doesn’t close the issue, can you do it?

[2016-03-10 07:47] isellsoap commented on #683
@ryancramerdesign Since @GuruMeditation02 doesn’t close the issue, can you do it?

[2016-03-10 07:48] #1692 closed

[2016-03-10 07:50] isellsoap commented on #1588
@er314 Could you please close this issue and open another one if you’re having other issues? Thank you!

[2016-03-10 07:50] isellsoap commented on #1578
@TomS- Can you please close this issue? Thank you!

[2016-03-10 07:50] Zarik commented on #1668
Yes, sure.

[2016-03-10 07:50] #1668 closed

[2016-03-10 07:50] #1479 closed

[2016-03-10 07:51] isellsoap commented on #893
@ryancramerdesign Could you please close this issue? Thank you!

[2016-03-10 07:51] isellsoap commented on #599
@adrianbj Can you please close this issue? Thank you!

[2016-03-10 07:52] isellsoap commented on #933
@somatonic Should @ryancramerdesign do something or can this issue be closed?

[2016-03-10 07:53] isellsoap commented on #1101
@Da-Fecto Can you please close this issue? Thank you!

[2016-03-10 07:54] isellsoap commented on #1360
@FdeQuillettes Can you please close this issue? Thank you!

[2016-03-10 07:54] isellsoap commented on #1367
@eladnova Can you please close this issue? Thank you!

[2016-03-10 07:55] isellsoap commented on #1406
@cb2004 Can you please close this issue? Thank you!

[2016-03-10 07:56] isellsoap commented on #198
@somatonic Can you please close this issue? Thank you!

[2016-03-10 07:57] isellsoap commented on #655
@quickjeff Can you please close this issue? Thank you!

[2016-03-10 08:12] #1649 closed

[2016-03-10 08:12] #1634 closed

[2016-03-10 08:13] #1674 closed

[2016-03-10 08:41] yckart commented on #1710
I like it small and thin ;) and <kbd>ESC</kbd> is even faster to reach than any ui-element.

[2016-03-10 08:41] hauptbenutzer commented on #519
Sure thing!

[2016-03-10 08:41] #519 closed

[2016-03-10 08:54] #1417 closed

[2016-03-10 09:03] arjenblokzijl commented on #1257
Hey Ryan,

I've tested again with 3.0.10 and 2.7.2 master. The issue changes a bit:

1. The editor is now able to add the pages, but the PageTable isn't updated.
2. A manual refresh (F5/CMD-R) after adding the page results in the page being seen, but only beneath the PageTable. The editor has to manually assign the page to the PageTable.

Please find [a link](https://www.dropbox.com/s/yg7khrzz3yh6

[2016-03-10 09:04] jtborger commented on #1713
Sure Sorry Im quite new to github.
Will do

[2016-03-10 09:04] #1713 closed

[2016-03-10 09:12] #1335 closed

[2016-03-10 09:18] #1450 closed

[2016-03-10 09:23] kixe commented on #1701
Done!

[2016-03-10 09:23] #1701 closed

[2016-03-10 09:59] #1049 closed

[2016-03-10 10:01] #1101 closed

[2016-03-10 10:02] #634 closed

[2016-03-10 10:11] somatonic opened #1743 "A required field is allowed to save empty when page is already published."
First time I've seen that this is possible. I assumed you can't empty a field that is required on a published page and save it. Means the field is empty after saving and shows an error. This caused the site to not work anymore.

It should never be possible to empty and save a field that is required.

[2016-03-10 10:15] sunlix commented on #1694
okay it seems to be fixed at branch **devns** (3.x)

[2016-03-10 10:15] #1694 closed

[2016-03-10 10:18] isellsoap commented on #1743
Maybe related: https://github.com/ryancramerdesign/ProcessWire/issues/1121 and https://github.com/ryancramerdesign/ProcessWire/issues/1378.

[2016-03-10 10:19] isellsoap commented on #1121
Maybe related to https://github.com/ryancramerdesign/ProcessWire/issues/1743.

[2016-03-10 10:19] isellsoap commented on #1378
Maybe related to https://github.com/ryancramerdesign/ProcessWire/issues/1743.

[2016-03-10 10:22] somatonic commented on #1378
PW must not allow emptying of a required field on a already published page. It should save page and save other fields, but not save an empty value to a required field. Never ever.

[2016-03-10 10:36] #1416 closed

[2016-03-10 10:37] #1509 closed

[2016-03-10 10:50] #1597 closed

[2016-03-10 10:51] #1590 closed

[2016-03-10 10:52] #1578 closed

[2016-03-10 11:03] jacmaes commented on #1585
Sure!

[2016-03-10 11:03] #1585 closed

[2016-03-10 13:31] #1395 closed

[2016-03-10 14:44] matjazpotocnik commented on #1710
I like it B&B - big and bold :-) Esc is not working for me. Am I missing something?

[2016-03-10 15:04] #1650 closed

[2016-03-10 15:19] #1705 closed

[2016-03-10 15:20] #599 closed

[2016-03-10 15:22] #1614 closed

[2016-03-10 15:23] yckart commented on #1710
@matjazpotocnik This is an option (`closeOnEscape=true`) that you could set in your `config.php`. It's just not enabled per default. https://github.com/ryancramerdesign/ProcessWire/blob/105fd1fa90f30f50670d95526e71fc4ad4bba892/wire/config.php#L918

[2016-03-10 15:31] matjazpotocnik commented on #1710
I already have this in /site/config.php

[code]
and it is not working (for me)...

[2016-03-10 16:09] Manfred62 commented on #1471
fixed

[2016-03-10 16:09] #1471 closed

[2016-03-10 16:13] yckart commented on #1710
@matjazpotocnik You have to set it for each entry, like so:

[code]

[2016-03-10 18:37] #1617 closed

[2016-03-10 18:43] adrianbj commented on #1739
I think this might be related: https://processwire.com/talk/topic/12472-upgrade-3010-trouble/?p=115417

[2016-03-10 18:59] adrianbj commented on #793
I just went to install HannaCodeHelper and this is still an issue. Any chance the priority on this can be upped a little please :)

[2016-03-10 19:02] matjazpotocnik commented on #1710
Yee, its working, thx!

[2016-03-10 19:02] #1710 closed

[2016-03-10 20:14] #1382 closed

[2016-03-10 20:14] #1683 closed

[2016-03-10 20:16] zgjonbalaj commented on #1740
Had the same issue try this https://processwire.com/talk/topic/11979-bootstraps-javascript-requires-jquery-version-191-or-higher/

[2016-03-10 21:30] adrianbj commented on #1743
On the other side of the coin, I think it should be possible to save an unpublished page with an empty required field. It shouldn't be checked until published. Maybe this should be a configurable option. I mentioned this somewhere else, but can't find where at the moment.

[2016-03-10 21:49] ryancramerdesign commented on #1735
What is the line that includes or loads that cacert.pem file? I'm guessing
it's something like `file_get_contents(__DIR__ . '/cacert.pem');`? If
that's the case, try changing it to:
`file_get_contents($this->wire('config')->paths->PublishToTwitter .
'TwitterOAuth/Abraham/TwitterOAuth/cacert.pem');`

Another alternative is that you can force FileCompiler to skip any file
just by placing this text a

[2016-03-10 21:55] somatonic commented on #1743
It's already possible to save an unpublished page with an empty required value. It just can't be published until it's populated.

In my opinion it should save other fields but not empty the required field and stop functionality stop working depending on its value.

[2016-03-10 22:00] adrianbj commented on #1743
Right sorry - I was forgetting the situation - I think maybe I asked if the required warning would show up until you try to publish.

[2016-03-10 22:18] #1568 closed

[2016-03-10 22:18] #1428 closed

[2016-03-10 22:19] #1376 closed

[2016-03-11 06:12] teppokoivula commented on #1743
@somatonic: in some old posts Ryan pointed out that unpublishing pages if a required field is cleared later on could be considered a problem, so perhaps this was intentional. Hard to say, but either way: in my opinion clearing a required field should definitely unpublish the page.

[2016-03-11 09:03] captain-speculatius commented on #1622
Sorry :) Closing.

[2016-03-11 09:03] #1622 closed

[2016-03-11 09:44] gingebaker commented on #1740
This solves the Problem also for me...

[2016-03-11 10:57] gingebaker opened #1745 "PW 3.0.10: FileCompiler Error if string "include" in PHP comment"
Hi
Just found following problem when working in 3.0.10.
I was uploading a Module. After installing I got following error...

**Parse Error: syntax error, unexpected 'var' (T_VAR)** ...

The Line of the Error is only a PHP Comment Section on the top of the original File.
I saw nothing special on the original file so i checked the compiled Module File wich looked like this...

[code]
The Original fi

[2016-03-11 11:21] FdeQuillettes commented on #1360
Actually I totally forgot about this issue. Now that I think of it again, this restriction could be removed altogether if ProcessWire used PHPs tokenizer instead of a regex. Even the comment descriptions would keep working then.

Anybody have input on this? I could even start a pull request but won't put in the effort if noone else thinks this will be useful.

[2016-03-11 11:26] somatonic commented on #1743
@teppo, no not unpublish the page, but simply not save the empty value.

[2016-03-11 12:23] teppokoivula commented on #1567
@ryancramerdesign ping! Is this something you're still planning to fix for the 2.x branch? In #1616 you've mentioned that there's a partial fix, but apparently that only applies to 3.x :)

[2016-03-11 12:28] teppokoivula commented on #1743
@somatonic From what I've read so far, that seems to be even more problematic. In fact Ryan has suggested that it can't be done, and mentioned a JavaScript-based solution (well, hack) as an alternative.

Though I do agree that "don't save the page unless all required fields are populated" would be the best option overall, unpublishing published pages if they are saved and a required field is left

[2016-03-11 13:33] teppokoivula opened #1746 "InputfieldCKEditor not found in AdminTheme.php"
While testing with the latest version of the devns branch, I couldn't get page editor to open. The issue was this:

Said row is here:

[code]

After changing it to this, everything started working again:

[code]

Any idea what's going on here?

For the record, this environment is running PHP version is 5.3.10 (with security patches from Ubuntu), which could be a factor here, in case some namespace

[2016-03-11 13:42] ryancramerdesign commented on #1746
That's odd because InputfieldCKEditor is in the ProcessWire namespace, not
the root namespace. The line where you added the "\" before it should cause
a fatal error, since it's referring to a class that doesn't exist in PW3
(root namespace InputfieldCKEditor).

I think there's a good chance you've got another copy of InputfieldCKEditor
floating around somewhere? Check your /site/modules/ just in c

[2016-03-11 13:45] ryancramerdesign commented on #1745
Thanks @gingebaker I've pushed a fix for this, can you confirm it also fixes it there?

[2016-03-11 13:46] ryancramerdesign commented on #1745
Note: you'll need to either make a change to the original file or clear your file compiler cache in order for it to re-compile it.

[2016-03-11 13:48] teppokoivula commented on #1746
@ryancramerdesign Thanks! Actually I had multiple versions of CKEditor, one under the /site/modules/ directory and another one under the /wire/modules/ directory. After switching to the one in the wire dir, this issue is fixed.

Looks like this kind of setup is no longer supported – thanks for the swift reply! :)

[2016-03-11 13:48] #1746 closed

[2016-03-11 13:51] ryancramerdesign commented on #1746
That setup is supported, but–at least in the case of CKEditor–the modules
would have to share the same namespace (i.e. \ProcessWire) since the
AdminTheme references it directly. The one in your /site/modules/ directory
sounds like it was in the root namespace, which is why you had to update
that AdminTheme file to reference it rather than the core one.

On Fri, Mar 11, 2016 at 8:48 AM, Teppo Koivu

[2016-03-11 14:01] gingebaker commented on #1745
Hi @ryancramerdesign
Yes it fixes the issue... Thanks!

[2016-03-11 14:01] #1745 closed

[2016-03-11 14:05] teppokoivula commented on #1746
@ryancramerdesign right, "not supported" was bad choice of words. "Supported, at least as long as the modules are in the same namespace" is closer to the truth :)

[2016-03-11 14:06] gingebaker commented on #1739
I had some similar problems in php comments. Ryan made a fix for that...
#1745

[2016-03-11 14:20] ryancramerdesign commented on #1734
Adrian, the getQuery() method is a protected method, not meant to be called from outside of the PageFinder class. That's why it relies on the find() method to initialize the $options. Because it's hookable, it still has to be callable by the hooks system, but it's not meant to be used as a public method.

[2016-03-11 14:21] ryancramerdesign commented on #1739
@TomS- can you confirm that the latest fix also resolves the issue you were seeing there? Thanks.

[2016-03-11 14:22] ryancramerdesign commented on #1741
It still exists, but will be removed at some point. Currently I'm finding it convenient for my IDE and modules in the root namespace, as it still enables IDE tips and autocompletion and such to work.

[2016-03-11 14:43] #1741 closed

[2016-03-11 14:58] #1734 closed

[2016-03-11 15:16] #1740 closed

[2016-03-11 15:22] ryancramerdesign commented on #1743
One of the considerations with a system like PW are that with flexibility comes responsibility. PW operates on the premise that a page structure is never "final", and could have new fields added to it at any time. You might have a template used by a thousand pages, and you add a new field to it and make it required. What's supposed to happen to those 1000 pages? Any low-level "required" state crea

[2016-03-11 15:31] isellsoap commented on #1743
Making sure your code doesn’t make assumptions about the content of a value is one thing.

But with the current behavior the required state of a field actually has no real functionality behind it (I’m looking at the scenario @somatonic describes in the first post of this issue). One can empty a filled out and required text field, save the page and functionality-wise it’s like the required state wa

[2016-03-11 16:00] somatonic commented on #1743
PW makes the assumption here that "it's ok to empty that value" even though it's required. No reason and logic in that really.

You also can't empty the page "name" field, cause it's a system field that is required for the system to work. It will show an error and leave the previous value. I want to be able to have a custom field that works the same way when required. Maybe we need an option to "e

[2016-03-11 16:06] ryancramerdesign commented on #1743
@isellsoap That's correct, that is the scope and purpose of the required state. PW2 didn't originally come with a required option at all for the reasons mentioned. But folks wanted something to at least help the editors along, so that's what it is. Though I always worried it would create a false expectation.

Perhaps when we added the block publish of an unpublished page that is missing required f

[2016-03-11 16:17] ryancramerdesign commented on #1743
@somatonic a page can't actually exist in the DB with a name field, since it is one of the unique keys in the MySQL index. Whereas the same is not true of custom fields. But if you have a need to block save of a page for a specific empty field, you could always do it with a hook throwing a WireException in your

/site/templates/admin.php file:
[code]
There may be some bad side effects here, so tes

[2016-03-11 16:58] isellsoap commented on #1743
Well, than you should change the description of the required state, because it says

That’s pretty unambiguous to me. :-)

I think that would create a horrible user experience, to be honest.

Nothing. Everything should work like it works now.

Obviously I don’t know the technical implications of such a change but it seems to me that they are rather severe seeing that you do not want to change the

[2016-03-11 18:56] ryancramerdesign commented on #1743
The issue report here is about a page that apparently broke because a field
was empty when it was expected to be populated. I've communicated it is
impossible to assume that something will be populated, regardless of
required state. That's because the requirements for fields, presence of
fields, and content of fields can change outside of the page editor. Pages
are not one-time submission forms. T

[2016-03-12 08:13] isellsoap commented on #1743
I totally agree with you and that’s also my point of view.

When a editor edits a page in the GUI and saves the page, than that's a one-time submission form.

That's correct but I don't see what that has to do with my argument. What I find troubling is the fact that currently a schema _that is the status quo at the time of a page save in the GUI_ doesn’t get correctly validated (required and fille

[2016-03-12 21:44] #1666 closed

[2016-03-12 21:44] #1665 closed

[2016-03-12 21:45] #1434 closed

[2016-03-13 09:19] #1664 closed

[2016-03-13 09:20] teppokoivula opened #1747 "Should we aim to get ProcessWire support by composer/installers?"
The solution @harikt has provided for installing modules via Composer definitely does the trick, but I'm wondering if we should aim to get ProcessWire support into the official composer/installers package?

The point there is to provide single solution for multiple framework-specific installation procedures via separate installers, and it's the de facto standard way to achieve this. Considering th

[2016-03-13 10:00] teppokoivula commented on #1743
Unless I'm missing something here, I think this would be the most straightforward approach, and wouldn't change much in comparison to how things currently work:

- Since ProcessWire supports unpublished state, another option is to save all fields, but don't make the page published until all required fields are populated. I believe this is already how it works.
- If a page has already been saved an

[2016-03-13 10:23] harikt commented on #1747
Hi @teppokoivula ,

I don't remember / recall all the discussions we did earlier regarding the composer installer. You can see an old one over https://github.com/composer/installers/pull/24 , and it was specially for aura v1 though. We moved away from installing in different location other than vendor in aura for v2 though .

I don't think I have quite some time to look into it again. Feel free to

[2016-03-13 10:44] teppokoivula commented on #1747
Thanks for your comments, @harikt. So far I haven't seen any notice about deprecation, but will dig a bit deeper before going forward with this.

[2016-03-13 10:57] LostKobrakai commented on #1743
I want to add my support for simply making it impossible to empty out required fields, which were previously filled. Any schema changes to pages are in the responsibility of the dev. If pages do need some fields to be filled after a change it's their job to make sure these requirements are fulfilled. But as soon as a required field is filled and the field is required it should not be possible to e

[2016-03-13 16:12] LostKobrakai opened #1748 "Module download convenience"
When using a module's classname to download it the modules section hitting enter won't submit the form / request the download. It would be nice if it did.

[2016-03-13 18:28] NameLess-- commented on #1706
Of course ;)

[2016-03-13 18:28] #1706 closed

[2016-03-14 03:45] yckart opened #1749 "Collapse entire site tree"
As @adrianbj already [commented](http://processwire.com/blog/posts/processwire-3.0.8-brings-smarter-faster-page-tree/#Comment12392), it would be nice if we could close the entire site tree again.

Adrian suggested <kbd>double click</kbd>, I would <kbd>alt</kbd> + <kbd>click</kbd> (as in *Finder* on OS X and *Sublime Text*).

[2016-03-14 08:06] isellsoap commented on #1743
@teppokoivula

Why is that the more "hard-core" approach? I think that’s the only reasonable approach and the most user-friendly one. I think that is the go-to solution.

Regarding your comments about the unpublishing of pages

and

I strongly disagree. Who would expect such a behavior? I think that would be a very bad user experience. I think that would be the "hard-core" solution.

[2016-03-14 14:24] teppokoivula commented on #1743
@isellsoap Keeping pages unpublished until all required fields are filled in is already built-in feature. "Real required fields", i.e. "you can't clear this required field once the page is published, period" and "you can't save this page without filling in all required fields, not even as an unpublished one" would be a relatively big change. Perhaps "strict" would be more fitting than "hard-core".

[2016-03-14 16:10] isellsoap commented on #1743
I thought more about the impacts that unpublishing an already published page has for visitors of a website. Not publishing a not-yet-published page doesn’t concern visitors of a website at all, because they couldn’t interact with the page yet. They don’t know it exists because it was never published. This is definitely a non-critical behavior.

Unpublishing a already published page after clicking

[2016-03-14 17:15] teppokoivula commented on #1743
I get your point. Looks like we were talking about user experience from slightly different points of view: I was thinking that the user experience from the point of view of content editor would be just fine, but it's true that a page disappearing from the front-end can be confusing for the end-users browsing the site. Whether 404 is better or worse than empty required fields depends entirely on th

[2016-03-14 17:26] isellsoap commented on #1743
Full acknowledgement! Especially your last paragraph has cool ideas in it. Would be awesome to see these additions in the core!

[2016-03-14 19:05] matjazpotocnik commented on #1743
So what we have now:

1. "It should never be possible to empty and save a field that is required. Emptied fields should revert to previous values."

2. "a page can't be saved unless all required fields are filled in and required fields can't be emptied once the page exists" (@teppokoivula)

Let suppose that we have "proper required fields". If we ignore javascript and browser checking of required

[2016-03-15 10:59] Rayden commented on #1526
Any chance you could update the font awesome library to the latest.

[2016-03-15 13:12] FerdiAgrio commented on #1735
Unfortunately option one and two aren't possible since it 1) is a external library and will cause problems when updating it (rather not), 2) results in an error where PW cannot find 'WireData' (which the module extends).
So I altered the module by calling 'namespace ProcessWire;' at the top and will keep a different version for < v3 and v3+ which works for our company (added the requirement in get

[2016-03-15 13:12] #1735 closed

[2016-03-15 19:28] apeisa commented on #1743
I think this issue is getting so big, that it would be shame to be left out of fun :)

I understand the points Ryan is pointing out at the API level, so I think focus here should be what default **admin page edit view** does in situation where already published page is saved again, now with a required field missing a value.

There is also two different situations and I think we should have same wa

[2016-03-15 23:16] teppokoivula commented on #1743
The logic here is quite simple, really: if a page can't be published until all required fields are filled in, then why is it that it can it exist in a published state if those fields are later cleared? In other words: if filling in required fields is a prerequisite for publishing a page, in my opinion it's only logical that clearing those fields also reverts the page back to unpublished state :)

[2016-03-15 23:39] Renobird commented on #1743
I agree with this. Especially if there have been changes made that require a field to have a value, then you should not be able to resave a page in a published state (from the admin at least) without it being set. If I add a new required field to a template, then I want that field to be filled in the next time the page is saved, or unpublished the page and notify the user.

Notifications are the k

[2016-03-16 02:16] yckart opened #1750 "FileCompiler generates incorrect output if type hinting TemplateFile"
If a type declaration specifies `TemplateFile` as a certain parameter type, the `FileCompiler` generates incorrect output. This occurs only if there's whitespace (`\9` and `\20` — but not `\a` and `\d`) between the type and variable name, also `TemplateFile$var` would result in correct output.

[code]

[code]

Tested with all classes specified in `$corePreloads`.

Could be (probably) solved by ign

[2016-03-16 06:11] matjazpotocnik commented on #1743
I see your point. Consider this: if you add required field to the template later on, all published pages using that template are from now on in the "wrong state", aren't they? Should they get unpublished?

If you add required field to the database table (general speaking) and then you edit record, all applications I have seen does not allow you to save the record, until all required fields are fil

[2016-03-16 14:02] Rayden opened #1752 "FileCompiler should ignore the word include inside comments"
Here are two examples of code that i generaly use, in which the file compiler modifies the content inside the comments:

[code]

and

[code]

As soon it sees the word "include" it will modify it. This causes parse errors in the code.

[code]

and

[code]

Solution: the FileCompiler should ignore the word "include" inside comments

[2016-03-16 14:24] gingebaker opened #1753 "Pw 3.0.10: InputfieldIcon - add Javascript support for Ajax loaded fields or Repeaters"
Hi
I´m using the InputfieldIcon Module ( wire/modules/Inputfield/InputfieldIcon/InputfieldIcon.module )
for an Icon Field in my own Templates. This works fine, but in in a scenario where the Field is loaded later via Ajax the included javascript is not performing the needed Actions. The "Show all Icons" Button is only opening a new tab.

I changed the InputfieldIcon.js File the same way most Javas

[2016-03-16 16:58] somatonic commented on #1715
Do you happen to use inputfield dependencies in the repeater? Because that does not work with repeaters out of the box and has the effect to not save fields.

[2016-03-16 17:00] somatonic commented on #1748
Does it if you hit enter two times? Cause there's a javascript preventing the enter -> submit form, instead it does focus the submit button.

[2016-03-16 17:04] ivangretsky opened #1754 "Uncaught exception while loading image from remote host"
I am rinning a cli php import script, that creates pages with imagefields, getting images directly from Amazon S3. The script runs for some time (and creates a bunch of pages as expected) and fails with an error:
[code]
As I understand, there is a 404 status error getting that photo (due to some technical issue - the photo is actually there).

Of course I'd rather download images to localhost, but

[2016-03-16 17:26] trk commented on #1715
Not have dependencies in the repeaters. My repeater fields are image, textarea, options. i created a fresh installation and tested repeaters with body and title fields, its working. I think somethings happen when i imported fields by using fields import / export tool. When i updated new repeater version this field asked me to repair body and some other used fields. After do that i have problem wit

[2016-03-16 21:37] ckbrewer15 commented on #1683
@ryancramerdesign

Hello, I have this same error message after a new install, it loads the pages after logging in but any subsequent attempts will display that error. I tried your suggestion of adding the construct method to the Wire class with no luck. Same error using Chrome and FF.

ProcessWire 2.7.2
PHP 5.5.9-1
mysql  Ver 14.14 Distrib 5.5.47
Apache/2.4.7

![screen shot 2016-03-16 at 5 34 56 p

[2016-03-17 00:25] wanze commented on #1683
@ckbrewer15
Can you check your Apache/PHP error logs to see if there's any meaningful error message?

[2016-03-17 00:33] wanze commented on #1754
The exception is thrown here: https://github.com/ryancramerdesign/ProcessWire/blob/master/wire/core/Pagefile.php#L117

I guess that if you are bootstrapping ProcessWire in a CLI script, this exception isn't caught by the system. You can do it yourself by surrounding the relevant code creating the page image with a `try/catch` block. Btw I didn't know that you could import images this way :)

[2016-03-17 14:48] dfile-de opened #1756 "PW 3.0.11 FileCompiler wireRenderFile -> require_once(): Failed"
Hello,

i have a maintemplate (controler), here i load (echo) a view with wireRenderFile('_views/mainview.php',$data);

in _views/mainview.php i include the header.php

main.php
_views
...| header.php
...| mainview.php

main.php:
[code]
_views/mainview.php:
[code]
Compile Error: require_once(): Failed opening required '_views/header.php'
FileCompiler add '_views' to the header.php path?

with $con

[2016-03-17 15:46] teppokoivula commented on #1756
Not sure if this is actually expected behaviour or a bug, but it has been suggested that some paths should be prefixed with $config->paths->templates. At least that should fix the issue for now.

[2016-03-18 08:26] kbreynck commented on #1696
Thank you!

[2016-03-18 08:26] #1696 closed

[2016-03-18 08:50] kbreynck commented on #1707
Thank you!

[2016-03-18 08:50] #1707 closed

[2016-03-18 09:25] dfile-de commented on #1756
Hello Teppo,
you're right.
require_once($config->paths->templates.'_views/header.php');
this works, prepend the path with a dot don't work.
thank you!

[2016-03-18 09:25] #1756 closed

[2016-03-18 14:16] isellsoap commented on #1691
@dreerr Could you please close this issue? Thank you!

[2016-03-18 14:16] isellsoap commented on #1690
@processwired Could you please close this issue? Thank you!

[2016-03-18 14:16] isellsoap commented on #1681
@yckart Could you please close this issue? Thank you!

[2016-03-18 14:17] isellsoap commented on #1657
@jlahijani Could you please close this issue? Thank you!

[2016-03-18 14:17] isellsoap commented on #1640
@ryancramerdesign Since @Notanotherdotcom doesn’t close this issue, could you do it please? Thank you!

[2016-03-18 14:18] isellsoap commented on #1625
@ryancramerdesign Since @eresik doesn’t close this issue, could you do it please? Thank you!

[2016-03-18 14:18] isellsoap commented on #1569
@Toutouwai Could you please close this issue? Thank you!

[2016-03-18 14:19] isellsoap commented on #1490
@somatonic Could you please close this issue? Thank you!

[2016-03-18 14:19] isellsoap commented on #1467
@BernhardBaumrock Could you please close this issue? Thank you!

[2016-03-18 14:49] #1681 closed

[2016-03-18 14:53] #1657 closed

[2016-03-18 15:37] #1625 closed

[2016-03-18 23:16] adrianbj commented on #984
Sounds like today's commit PW 3.0.12 takes care of this:
https://github.com/ryancramerdesign/ProcessWire/commit/1f60e9942ca52cb025c7fffcbf05d6179aa59b1b

[2016-03-18 23:25] plauclair commented on #984
@BernhardBaumrock please close this issue. Thanks! :)

[2016-03-19 13:03] #1640 closed

[2016-03-19 16:24] fijha opened #1757 "Strip trailing whitespace from all files"
There is unnecessary trailing whitespace in almost every file… Needs to be cleaned up…

[2016-03-19 19:15] #984 closed

[2016-03-20 20:05] LostKobrakai opened #1759 "Unrecognized HTTP host does prevent publishing pages"
I can certainly see why this might be intended, but at least the user should be notified about it. As this error is appearing on each and every page it's not really clear that that's the reason for the publishing to fail.

Edit: Just revisited the issue and notices it may not be clear what exactly I'm talking about: The error message produced if the current http host is not whitelisted in the conf

[2016-03-20 20:40] #1569 closed

[2016-03-21 17:33] krisj commented on #1708
I am getting all the same errors as Jugibur. Also a multilanguage install.

[2016-03-22 00:25] tbba commented on #1687
Appears to be solved via a cool external plugin.

[2016-03-22 00:25] #1687 closed

[2016-03-22 00:31] tbba commented on #1685
Another hint that something isn't working with languages here.

1st screenshot, this one for the language default (de in my case) - the breadcrumb shows "de":

![bildschirmfoto 20](https://cloud.githubusercontent.com/assets/652879/13938320/07f15062-efcd-11e5-8c39-d2c13844fdc3.png)

2nd screenshot, this one for the alternate default (en in my case) - the breadcrumb shows still "de":

![bildschirmfo

[2016-03-22 06:21] Da-Fecto commented on #1752
+1

[2016-03-23 05:58] matjazpotocnik opened #1760 "pruneBytes returns error if logfile does not exixts"
Warning: filesize(): stat failed for C:/inetpub/wwwroot/site/assets/logs/mylogfile.txt in
C:\inetpub\wwwroot\wire\core\FileLog.php on line 433

`if(!$filename || filesize($filename) <= $bytes) return 0;`

[2016-03-23 17:36] #1027 closed

[2016-03-24 08:59] Da-Fecto opened #1761 "javascript cookie issue FieldtypeComments"
Hi Ryan,

We encountering an issue with FieldtypeComments, actually it's an [javascript + cookie issue](https://github.com/ryancramerdesign/ProcessWire/blob/devns/wire/modules/Fieldtype/FieldtypeComments/comments.js#L146).

The form gets populated serverside based on the current logged-in user. This part look good to me.

01. We login with a user called **admin**, then fill in the form for comment

[2016-03-24 21:06] CanRau opened #1763 "3.0.x devns $pages->touch($page) throwing error (typo)"
Just tried out new touch() method and gave it a single page like
`$pages->touch($page)`
but it's saying the following
```Notice: Undefined variable: page in /wire/core/PagesEditor.php on line 1119```
I'm on 3.0.9 guess you added some line breaks later on..

while this works fine
`$pages->touch(array($page->id));`
so page is of course valid..

aha, found it [L1124](https://github.com/ryancramerdesi

[2016-03-25 10:54] teppokoivula opened #1764 "Bootstrap backwards compatibility in 3.x ($wire and wire())"
Hi @ryancramerdesign!

I'm currently updating some sites to 3.x and having some problems with the way the bootstrap process works. Previously the most reliable way to call the API was via wire() function, but apparently that's no longer available when bootstrapping 3.x.

This breaks all the existing bootstrap scripts I've got, and sadly there are plenty of those in this particular environment. Cur

[2016-03-25 14:09] kbreynck commented on #1697
OK, I incidentally detected the origin of this issue in the settings of module:
**/wire/modules/LanguageSupport/ProcessLanguage.module**

The option field _"What fields should be displayed in the page listing?_" had no selections.
I just added the options "**title**" and "**name**" and everything works as expected now.

I have no idea how this happened. I didn't changed anythin here before.
Sorry,

[2016-03-25 14:09] #1697 closed

[2016-03-25 18:10] er314 commented on #1588
issue fixed

[2016-03-25 18:10] #1588 closed

[2016-03-29 10:11] esrch opened #1765 "Installation: Choosing InnoDB doesn't work for initial tables"
When choosing to use InnoDB as a database during installation, this choice is not taken into account when creating the initial tables. I noticed that the $options variable is not passed in to the function profileImport and profileImportSQL functions in install.php. But correcting this didn't solve the problem, and all initial tables were still created using the MyISAM database engine.

[2016-03-29 16:05] netcarver commented on #738
Hi Ryan,

This came up again recently in the forum (will post a link when I re-find it.) Would be great if you would reconsider adding it to the next release.

[2016-03-29 16:08] #673 closed

[2016-03-31 01:58] jlahijani opened #1766 "typo: 'ommitted' should be 'omitted'"
One m, not two.

[2016-04-01 05:04] #1700 closed

[2016-04-01 16:38] tbba opened #1767 "MapMarker Module on PW3"
After updating another Site to PW3 which uses MapMarker with its basic settings the maps do not load any more. _Syntax error: invalid escape in identifier..._

I think the compiler screwed up some JS like so:

**new  \ProcessWire\MarkupGoogleMap()**

I think the namespace code part (?) does not belong to the JS code, correct?

[2016-04-02 13:27] kixe opened #1768 "Mysql Error trying to trash multilanguage page from page tree."
Tried to trash a multilanguage page from PageTree Action button:
http://example.org/admin/page/?action=trash&id=1995

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test-7' for key 'name1030_parent_id'

Language specific name should also be unique when moved to trash.

[2016-04-05 11:09] ryancramerdesign commented on #1721
Good idea @BitPoet I will go ahead and add this. Though we'll want to use the `hasHook()` rather than `isHooked()` method. The isHooked() method is basically a quick optimization check that indicates something might have a hook... by that I mean, some method with the name has that hook somewhere, but not necessarily in the current class. Whereas hasHook() says something definitely has a hook in th

[2016-04-05 12:13] ryancramerdesign commented on #1719
Thanks @somatonic I've pushed a fix for this issue.

[2016-04-05 12:41] ryancramerdesign commented on #1722
Thanks @fijha I've pushed a fix for this issue.

[2016-04-05 12:44] ryancramerdesign commented on #1724
See here for more info on PW core and release tags: http://processwire.com/blog/posts/composer-google-calendars-and-processwire/#git-tags-and-packagist

[2016-04-05 12:44] #1724 closed

[2016-04-05 12:49] ryancramerdesign commented on #1729
I'm assuming we're talking about the default admin theme since you mentioned "top menu"? If that's the case, I'm not seeing that issue here, nor have I seen it before. What platform are you using Chrome on? Also are you running the Chrome Beta or Chrome Dev possibly? I'm testing using my phone running the latest Chrome (stable) in Android Marshmallow.

[2016-04-05 12:54] ryancramerdesign commented on #1730
Not sure that I follow. What is it exactly what you are clicking on? I don't have a middle mouse button, but cmd+click on the "edit" link for any page opens in a new tab for me. I tried cmd+click of the page label (rather than action), just in case that's what you mean, but it just opens the "edit, view, move" actions.

[2016-04-05 12:58] LostKobrakai commented on #1730
You were correct in your assumption that I might be clicking the page label, but middle mouse button clicks actually open a new tab with the same lister instead of toggling the actions.

[2016-04-05 13:09] ryancramerdesign commented on #1732
These aren't really meant to be functionally the same as that in the Pages class, and you'll see that the same is true of most methods. (PW uses the similar method names in a lot of classes). PagesType classes are really specific and thus more limited, whereas the Pages class is where all the action and additional options are meant to take place. But if there's a need for the add() method to work

[2016-04-05 13:15] ryancramerdesign commented on #1736
Thanks @fijha I've pushed a fix for this issue.

[2016-04-05 13:24] ryancramerdesign commented on #1742
I don't think this is feasible because the column headings wouldn't make sense, so would probably have to display separate tables, and at that point the items are no longer sortable among each other. However,  something close to your fallback field definition (rather than per-template definition) might be a good way to accommodate some of it, without adding too much complexity. The column labels w

[2016-04-05 13:58] LostKobrakai commented on #1732
The code sample above was rather a "fix the thing not available in the core". At best it's surely part of the PagesType class.

[2016-04-05 15:54] BitPoet commented on #1721
Cool, thank you, Ryan! This will make some of the modules I'm working on a lot more concise. And thanks too for the explanation, I've encountered both methods but the differences flew past me.

[2016-04-05 15:54] #1721 closed

[2016-04-05 18:46] ryancramerdesign commented on #1743
Sorry I'm late getting back here, I lost track of this thread. I can see there's a lot of opinions on this. But there's just no getting around the reality, like I tried to explain earlier. The nature of the system means it's always going to be possible for there to be empty required fields, regardless of anything else. So if someone is coding a site making assumptions like something is always goin

[2016-04-05 20:01] ryancramerdesign commented on #1749
Thanks, this one is now built in to 3.0.13, by just clicking the "Home" link in the tree.

[2016-04-05 20:01] #1749 closed

[2016-04-05 20:11] ryancramerdesign commented on #1750
Thanks @yckart I've pushed a fix for this one.

[2016-04-05 20:15] ryancramerdesign commented on #1752
I'm not seeing FileCompiler attempt to do anything either any of the indicated examples. I'm wondering if this one might have been fixed already? Are you still seeing the compiler error there? Thanks.

[2016-04-05 20:23] ryancramerdesign commented on #1753
Thanks @gingebaker I can update this. Though wondering, how are you using InputfieldIcon in your templates? We don't have a corresponding Fieldtype for this one, so confused how it's getting used in this context. It's nearing the end of the day here, I'm probably forgetting something obvious. :)

[2016-04-05 20:29] ryancramerdesign commented on #1754
Trying to add an image that can't be found is considered a fatal error here, so the exception is intended. When bootstrapping PW, the exceptions are left for you to decide what you consider fatal and what you don't, since there is no PW admin interface to display these things to you. So in the case of your cli script, if you don't consider a 404 for the image to be a fatal error your best bet is t

[2016-04-05 20:34] ryancramerdesign commented on #1757
Whitespace at the end of lines and/or between lines is inconsequential per our style guide. It's the whitespace at the beginning of lines that we care about. See here: http://processwire.com/api/coding-style-guide/#2.3-indentation-tabs-spaces

[2016-04-05 22:16] fijha commented on #1757
Hi Ryan, sorry, I was thinking about unnecessary **whitespace** at the and of lines (after semicolon etc.) which is just noise… You can see in the screenshot that it looks like there are a lot of a changes made, but just spaces was removed… also file size can be a little smaller…

![screen shot 2016-04-05 at 23 42 16](https://cloud.githubusercontent.com/assets/17672049/14299032/85bdc0d6-fb88-11e5-

[2016-04-06 05:54] ivangretsky commented on #1754
I think it's clear. Let's close it.

[2016-04-06 05:54] #1754 closed

[2016-04-06 06:01] teppokoivula commented on #1757
While I agree that consistency is a good thing, even when it comes to small things, I can't say that I see much real value in this. Hopefully I don't sound too rude, but in my opinion going through all files just to remove trailing whitespace would be micro-optimization at best, and for the most part just waste of time.

Additionally I think you might've missed the part of the ProcessWire coding s

[2016-04-06 06:09] teppokoivula commented on #1753
@ryancramerdesign Hopefully not going too far off-topic (also hoping to hear the answer to this question), but just for the record: it would be awesome if we *did* have a built-in Fieldtype for this :)

[2016-04-06 07:06] teppokoivula commented on #1743
Thanks, @ryancramerdesign. It's definitely good to keep in mind that this has been discussed from two points of view here: one is about always enforcing values for all fields (which we all know is impossible) and the second is about being helpful towards and/or enforcing certain guidelines for content editors (which is not only possible but, at least in my opinion, also very useful).

[2016-04-06 07:49] somatonic opened #1769 "Page settings -> parent (PageListSelect) doesn't show path anymore since ~2.7 ?"
Why was this changed. I'm upgrading from older versions to 2.7.3 and the content editors concerned that the path isn't visible anymore.

How can I get this back again in 2.7.3? Thx.

Before
![image](https://cloud.githubusercontent.com/assets/370148/14309450/d239eb34-fbdc-11e5-8f05-331bf5cb6379.png)

Now
![image](https://cloud.githubusercontent.com/assets/370148/14309454/da759730-fbdc-11e5-9fb9-536

[2016-04-06 08:12] gingebaker commented on #1753
Hi @ryancramerdesign
Thanks for updating this!
Well, I just added myself a Fieldtype that uses this Inputfield.
[code]
I just copied the basic skeleton of a simple Fieldtype and changed it a little. This works for me. And with the Javascript change from above also in Ajax loaded repeaters!

Just to mention: In the Fieldtype Module I added the line
[code]
in Function getInputfield, so that I can us

[2016-04-06 09:43] fijha commented on #1757
Thanks @teppokoivula, I'm new to git and didn't know about that option… I still can't see the point of having whitespace at the end of lines, but as you mentioned, is just micro-optimization… not a big deal… It wouldn't be hard to clean that up… even trough some PHP script (`rtrim()` on every line)… I just think it would be nice :), but of course it is not that important.

[2016-04-06 10:11] lparikka commented on #1490
What do you say about @craigrodway comment above? Shouldn't the notices be cleared on page reload as they have been cleared before? Or do we need to call $session->removeNotices() every time?

[2016-04-06 10:47] ryancramerdesign commented on #1757
Admittedly I find a space at the end of lines helpful in my editing
environment (which is either VIM or PhpStorm running in VIM mode). Though
I'm not suggesting that anyone adopt trailing whitespace as a standard
(which would be silly). But rtrim()'ing lines is just one of those things
that doesn't seem worthwhile at this point in time, especially when it's
actually kind of handy (for me anyway).

[2016-04-06 11:26] ryancramerdesign commented on #1761
Thanks @Da-Fecto I've pushed an update to make the cookie be session-only. This should help, but I'm not sure this will solve the issue specifically, as the browser would have to be closed before the cookie would disappear, since it's not actually connected with a logged-in user. It's entirely independent of that. But that's also kind of the purpose with these cookies, so that comments can be post

[2016-04-06 11:29] ryancramerdesign commented on #1763
Thanks @CanRau good find! I've pushed the fix for that.

[2016-04-06 11:39] ryancramerdesign commented on #1764
Teppo actually there is still a global wire() function, but it's in the ProcessWire namespace, rather than the root namespace. So the files you mentioned would work if they had a `namespace ProcessWire;` at the top, but otherwise they'd need to reference `\ProcessWire\wire()` rather than `wire()`. I'm not suggesting you change all your files or wire() calls though. We're trying not to put anything

[2016-04-06 11:59] kixe commented on #1769
Don't know why, but the change in InputfieldPageListSelect was made in PW 2.6.16.
https://github.com/ryancramerdesign/ProcessWire/commit/85bf7cfac56d96973998bb58e3f35fed11f70915#diff-19

To get it back hook in ProcessPageEdit:
[code]

[2016-04-06 13:51] ryancramerdesign commented on #1765
Thanks @esrch I've pushed an update that should correct this issue.

[2016-04-06 13:53] Da-Fecto commented on #1761
We use FieldtypeComments in the backend rendered via an iframe, all users are logged-in users in our example. (Guest users have no access to the template that renders the Comments form)
Not pre-populating the form would mean for us a non functional CommentForm. (We do hide all input fields except the textarea)

What my initial thought was:
When cite is pre-populated, remove the cookie.
([vars are

[2016-04-06 14:18] matjazpotocnik commented on #1760
Thank you.

[2016-04-06 14:18] #1760 closed

[2016-04-06 15:09] ryancramerdesign commented on #1767
Just tried to install FieldtypeMapMarker and MarkupGoogleMap in PW3, but not seeing those errors from the FileCompiler. What version of PW3 are you running? Technically that `new \ProcessWire\MarkupGoogleMap()` that you mentioned shouldn't be able to occur since `MarkupGoogleMap` isn't in the ProcessWire namespace, and FileCompiler skips over class instantiations that aren't to classes in the Proc

[2016-04-06 15:40] trk opened #1770 "Commit #1700 update errors : Trying to get property of non-object and Cannot modify header information"
After update from version **2.5.11 -> 3.0.13 (didn't get error) -> 3.0.13 commit 1700 (i got error)** started to get errors, if i comment this line **/...../..../...../........./wire/core/Pagefile.php on line 206** like everything working.

[code]

[2016-04-06 16:01] ryancramerdesign commented on #1768
Thanks @kixe – good find! I've pushed a fix for this one.

[2016-04-06 16:50] ryancramerdesign commented on #1770
I can't duplicate this one yet. Line 206 is this:
[code]
My best guess is that you've got some module attempting to access files from a page before the API is ready? I would try to track down the source, because that's not a line you want to comment out unless you don't need multi-language support.

[2016-04-06 17:48] tbba commented on #1767
Clearing compiled files had worked indeed. Something with the latest PW3 might have fixed it.
At the time of writing I saw this mentioned elsewhere (I think in a PW a blog comment) so I thought I was not alone with the problem. I am so glad this is solved.

[2016-04-06 17:48] #1767 closed

[2016-04-07 04:15] #1766 closed

[2016-04-07 07:09] Rayden commented on #1752
I can confirm its fixed now (3.0.13)

[2016-04-07 07:09] #1752 closed

[2016-04-07 07:46] teppokoivula commented on #1764
@ryancramerdesign: thanks for explaining the situation! :)

While I'm not entirely convinced that $wire being in the global namespace is OK while wire() being there would be a problem, I think I'll just modify aforementioned scripts to use $wire. For me consistency is of key importance, and assuming that $wire is always going to be available and wire() isn't, that in itself is a very good reason t

[2016-04-07 07:46] #1764 closed

[2016-04-07 10:55] #1757 closed

[2016-04-07 15:22] trk commented on #1770
I have some other errors and more :)

What i did, downgraded to older version 2.7.2 now its look like everything ok. After everything done i will try to update latest 3.x.x version again.

For the moment need to make some changes...

[2016-04-08 11:27] juergenweb opened #1771 "Module select no more visible if there are multiple modules of the same type"
The feature to use multiple instances of a module and select the one to use introduced in this article [https://processwire.com/blog/posts/processwire-core-updates-2.5.14/#multiple-copies-of-the-same-module](https://processwire.com/blog/posts/processwire-core-updates-2.5.14/#multiple-copies-of-the-same-module) doesnt work in PW. 3.0.13 (or maybe in lower versions).

See these forum post: [https://

[2016-04-08 11:37] #1768 closed

[2016-04-08 11:46] kixe commented on #1771
you need to edit your link targets in your comment ...

[2016-04-08 14:04] juergenweb commented on #1771
I have corrected it.

[2016-04-08 14:42] trk commented on #1770
With version 2.7.2 i don't have this issue. If i want to update to latest 3.x.x i have this error again. I have same modules with another pw website (running 3.x.x version) there no error.

This website not have multilingual support only one language have and i didn't install multilingual modules.

As you see in my error **Notice: Trying to get property of non-object** if we don't have multi langu

[2016-04-08 15:50] gingebaker commented on #1729
I am also having this Problem here on my mobile Device (Android with Chrome) and AdminThemeDefault. However, If I click the TopNav-Button a few times, than the Dropdown will sometimes stay open.

I did take a look at main.js (with debug mode on) wich has the Events for the .collapse-topnav-menu
wire/modules/AdminTheme/AdminThemeDefault/scripts/main.js

Perhaps the problem is that on mobile Devices

[2016-04-10 13:25] tbba opened #1772 "pagetable page cannot always save a data change"
I am puzzled by a new problem (using the latest PW3 from yesterday)
I am using a pagetable field. There, I open a modal with a "row page" (if you know what I mean).
This contains a page field (using select)  and text fields:
When I change the page-field-selection and hit SAVE, nothing happens (it has worked in PW2)
When I change the selection and change something in the text field as well, I can S

[2016-04-11 06:37] eresik opened #1773 "Multisite not working"
Multisite not working

Need at
https://github.com/ryancramerdesign/ProcessWire/blob/devns/wire/core/ProcessWire.php#L640
change
[code]
to
[code]

[2016-04-12 00:40] adrianbj opened #1774 "Doubling of page tree when specifying an id - new bug introduced with the PW 3.0.8 and the smarter page tree."
If you have opened up a branch and then visit a link like this:
http://pwtest.dev/admin/page/?id=xxxx where the xxxx is the id of the parent page of the branch you previously opened, the child branches will be duplicated.

This is because of: $input->cookie->pagelist_open - if you remove the page id from the cookie string it behaves normally.

I know that visiting a branch using a URL like above i

[2016-04-12 10:12] ryancramerdesign commented on #1771
Thanks I've pushed a fix for this issue.

[2016-04-12 10:20] ryancramerdesign commented on #1773
Thanks @eresik I've pushed the fix for this. I've updated it to detect either root namespace file or ProcessWire namespace file, as folks upgrading from PW2 to PW3 won't have a namespace in their index.config.php file.

[2016-04-12 10:26] juergenweb commented on #1771
Perfect!

[2016-04-12 10:26] #1771 closed

[2016-04-13 09:28] CaelanStewart opened #1775 "Field with type "Text" does not save it's value"
A field with type "Text" does not save it's value when it's visibility depends on the value of another field, but only when used inside a repeater.

As soon as I remove the visibility rule, the text field does save it's value. Tested in 2.7.2 and 2.7.3.

[2016-04-13 09:30] LostKobrakai commented on #1775
Inputfield dependencies are afaik only supported since pw 3.0.

[2016-04-13 09:32] CaelanStewart commented on #1775
I'm pretty sure 2.7.2 and 2.7.3 do support it. Here is a screenshot:
![2016-04-13 10_31_25-edit field_ highlights folkestoneharbourarm dev](https://cloud.githubusercontent.com/assets/11272013/14489022/fe243ef8-0162-11e6-9ae1-dbe3565af9b7.png)

[2016-04-13 09:33] CaelanStewart commented on #1775
The field's value is not saved if the "Show this field only if" is filled in.
This problem only occurs if the field is inside a repeater.

[2016-04-13 09:35] LostKobrakai commented on #1775
Sorry I meant "… in conjuction with repeaters"

[2016-04-13 09:45] CaelanStewart commented on #1775
I see, is there any kind of timeframe for a stable release of ProcessWire 3? We're starting a new project, and have allotted three weeks to it's development, if ProcessWire 3's release date falls within that time, we may use it.

Thanks

[2016-04-13 09:48] LostKobrakai commented on #1775
[Last weeks blogpost](http://processwire.com/blog/posts/processwire-3.0.14-updates-file-compiler-fields-and-more/)

[2016-04-13 12:41] kixe opened #1776 "ProcessPageLister Page icon"
Thinking about future core- or custom-modules it would make sense to call getIcon() page based and not template based to make individual Page Icons visible in ProcessPageLister.

Easy to change this since getIcon() can be called from page (where it is hookable) with fallback to template. Enhancement with less code!

Just change Line 1328
from
`$icon = $p->template->getIcon();`
to
`$icon = $p->getI

[2016-04-13 18:15] Da-Fecto commented on #1753
+1

[2016-04-14 21:54] #683 closed

[2016-04-15 15:20] Broxden opened #1779 "Processwire 3.0.14 Template Chnage Save and Exit"
Hello

I think I may have noticed a small bug in 3.0.14.

When I change the template on a page using Save and Exit from the split button, the page exits but the template is not changed. If I just Save, the template is changes as expected.

Regards
John

[2016-04-18 08:26] TomS- commented on #1739
@ryancramerdesign sorry for the delay, seems to be fixed. Thanks

[2016-04-18 08:26] #1739 closed

[2016-04-18 09:49] LostKobrakai opened #1781 "markupValue in inputfield context"
It would be nice to have a markupValue() function in the Inputfield context as well. It would make outputting FormBuilder fields on the frontend quite a bit easier and userfriendly (e.g a nice date instead of a timestamp).

[2016-04-19 08:47] LostKobrakai opened #1782 "FileCompiler does not seem to compile wireRenderFile files"
I'm currently moving a project of mine to 3.0 (first which will go into production). I've most of my markup in separate files included via wireRenderFile(). These included ones do seem to not get compiled.

[2016-04-19 08:51] LostKobrakai commented on #1782
One addition. The error does happen for a file included in a nested wireRenderFile() call.

[2016-04-19 08:52] #1782 closed

[2016-04-19 09:08] LostKobrakai opened #1783 "PW 3.0 php warnings"
In Page::get() maybe it should be checked if $key is valid array key before running those isset() checks. I've something calling it with a field object (not sure where it comes from by now), which does cause php warnings. At least cast to string beforehand.

[2016-04-19 09:15] LostKobrakai opened #1784 "3.0 Panel labels better width handling"
With the german language pack the label of the debug tools panel does get cut off.
![screenshot 2016-04-19 11 14 47](https://cloud.githubusercontent.com/assets/2489835/14633924/0ecb4cb2-0620-11e6-8359-80e0426e25c6.png)

[2016-04-19 12:59] FlipZoomMedia opened #1785 "Image upload and PageTable - Uploads get lost after page save"
I have a problem with the image upload via the CKEditor in combination with the PageTable-Inputfield. When I edit the page with the PageTable and uploading a new image over the CKEditors function "insert image", the uploaded image is deleted after saving the page and the image is not displayed before I save the entire page. This happens also when i don't use PageTableExtend Module. The log is said

[2016-04-19 22:03] #1203 closed

[2016-04-19 22:05] #1517 closed

[2016-04-19 22:10] thetuningspoon opened #1786 "CKEditor issue loading mystyles in repeater matrix. The resource name "mystyles" is already registered"

[2016-04-19 22:14] thetuningspoon opened #1787 "CKEditor issue loading mystyles.js in repeater matrix. "The resource name mystyles is already registered""
I am getting the error "The resource name "mystyles" is already registered" in the console when using the same CKEditor field multiple times in the editor (using repeater/repeater matrix). The custom code in mystyles.js is not working. If I try using the same field on a template where it only appears once (no repeaters), then it works. PW 3.0.13.

[2016-04-19 22:43] #1786 closed

[2016-04-20 15:03] beatep opened #1788 "PW 3.0.15: 2 Repeater in one template don't work"
I have 2 different repeaters in my template. As I had only one, it worked, but as I added a second one, the first on (below the other one) doesn't work any more, the entries don't expand on click and I can't add a new entry, in both repeaters. I don't know it it is only in 3.0.15, as I didn't had this case before. The firebug console is empty.

The bug must be there for a longer time, switching ba

[2016-04-21 06:32] teppokoivula commented on #1753
@ryancramerdesign Sorry to bother you again, but are you considering a built-in fieldtype for comments (as discussed above) or should I roll out my own solution too? In need of one for a project I'm working on right now, so would appreciate any feedback :)

[2016-04-21 09:47] larrybotha commented on #1715
I've experienced the same issue with 2.7.2 and autojoined `title` and `summary` fields in repeaters, no field dependencies.

It's quite possible that dropping and importing dbs multiple times has affected something - we automate dropping and importing with Gulp, and sometimes imports don't go completely smoothly.

Anyways, disabling autojoin on the affected fields solved the repeater fields not sa

[2016-04-21 15:22] beatep commented on #1788
I tested it in version 2.7.0, there's everything ok. I guess the major changes in version 3.0.5 concerning the repeater are the problem...

[2016-04-22 06:19] somatonic opened #1789 "Uninstalled LanguageSupportPageNames error"
In latest dev. I have tried to set the LanguageSupportPageNames to not autoload while testing something. It didn't work and the name fields still showed, so I tried to uninstall the module and got this error when clicking submit. I can't find out why and how to fix it. Now this error shows always.

 Error: Exception: Unknown language (in /Applications/MAMP/htdocs/sandbox/wire/modules/LanguageSuppo

[2016-04-22 07:40] somatonic commented on #1789
I found that the flags of LanguageSupport and LanguageSupportPageNames had a flag of 19, after changing to 3 it started working again.

[2016-04-23 22:29] adrianmak opened #1790 "Repeater field in multi-language site, it shown on default language only"
My site has three languages setup, default (chinese traditional), chs (chinese simplified) and eng (English)

The repeater field has three text (not multi-language) vlaue, product_id. product_price and product_quantity,
which will attach to the order template

The order will not create at the back-end ui but when a online payment (paypal) made success, my site will create an order thru api.

I fou

[2016-04-24 18:22] ryancramerdesign commented on #1790
Repeaters actually don't know anything about languages, so if you are creating repeater items from the API, you'll likewise have to enable those items for the language. Also, I see a couple of issues with the locations of your save() calls. See my uppercase notes below:
[code]
In this next block of code, you are saving $p in the wrong places. I don't think it's causing a problem, but it's also not

[2016-04-24 21:24] adrianmak commented on #1790
Just tested with your code modification, and repeater fields with multi-language site is working properly.
Thank you Ryan.

[2016-04-24 21:24] #1790 closed

[2016-04-26 06:09] teppokoivula opened #1794 "Feature request: specific date as the default value for Datetime Inputfield"
I'd like to propose making the default value of Datetime Inputfield slightly more flexible: in addition to existing options of "empty" or "today", I'd like to have the ability to set a specific default date on a field-by-field basis.

Default values have been discussed before, and after going through some of these earlier discussions, I decided to leave default values for other fields out of this

[2016-04-26 06:24] kalmarlansmuseum opened #1795 "Closing modals and panels with escape key"
Would be handy if modals and panels could be closed with the escape key.

[2016-04-26 11:36] LostKobrakai opened #1796 "WireArray::explode option suggestion"
It would sometimes be great to manipulate the array keys for the explode() resultset. E.g. converting page arrays to an array keyed by id. My use case for this is feeding select boxes with keys and values for nette/forms.

[code]

[2016-04-26 13:57] rolandtoth commented on #1774
Having the same issue now on the second site (using the module AdminRestrictBranch). The above fix solves the issue in question but an official fix woud be better.

[2016-04-26 17:54] adrianbj commented on #1774
Thanks for chiming in on this @rolandtoth - I might need to add that "fix" to the module for the moment because at the moment it really isn't functional on PW 3 without it. Hopefully Ryan can implement a core fix soon though so that we can have tree open status as well.

[2016-04-28 10:40] schefflerinc opened #1797 "FieldtypeRepeaterMatrix: ProcessPageEdit times out when used recursively"
I'm trying to use FieldtypeRepeaterMatrix in a recursive setup leading ProcessPageEdit to run indefinitely. The problem seems to be the following:

InputfieldRepeaterMatrix::renderReady preloads all inputfields used in the matrix and one of them happens to be the very same field which in turn preloads all it's fields which leads to an infinite loop.

Is there any way to resolve the problem other t

[2016-04-29 10:45] LostKobrakai opened #1798 "php errors"
I've also head some issues, where php complained about $config not being defined in that file.

<img width="1201" alt="screenshot 2016-04-29 12 43 29" src="https://cloud.githubusercontent.com/assets/2489835/14914142/0869db96-0e08-11e6-807b-6e5733100bcb.png">

My composer.json does look like this:
[code]

[2016-04-29 10:53] LostKobrakai commented on #1798
Ok this helped:
[code]

[2016-04-29 13:57] LostKobrakai opened #1799 "File Compiler not getting use statement"
[code]

Will result in:

[2016-04-29 21:51] adrianbj opened #1800 "Debug Tools API variables section should link to new API docs"
Instead of: https://processwire.com/api/variables/config/ they should be pointing to: https://processwire.com/api/ref/config/

[2016-04-30 04:24] yckart commented on #1795
There is an option (`closeOnEscape=true`) that you could set in your `config.php`. It's just not enabled per default. https://github.com/ryancramerdesign/ProcessWire/blob/f10bea0201bf4ae167230b8c4d69673759764898/wire/config.php#L943

[2016-04-30 14:12] TomasKostadinov opened #1801 "Deleting Language causes SQL Error in Fields"
Deleting a language causes SQL Errors when trying to create new Fields.
See my post in the forum:
https://processwire.com/talk/topic/13060-sql-errors-after-deleting-language/

[2016-04-30 23:37] valieand opened #1802 "InputfieldPageAutocomplete does not query id"
If you have thousands of pages and these pages do not have unique identifier other than page id, then  it should be possible to use InputfieldPageAutocomplete (as other inputfields simply run out of memory) with query-able {id} field (as the only unique identifier).

But it doesn't work.

[2016-05-01 05:29] adrianbj opened #1803 "$user output formatting off by default"
https://processwire.com/talk/topic/13141-image-field-in-user-template-not-behaving-normally/

I just tested on a clean install and this seems to be a longstanding bug as far as I can tell.

[2016-05-01 07:10] BitPoet opened #1804 "Feature req: allow search for relative created timestamp in FieldtypeComments"
Unlike $pages search, FieldtypeComments::find doesn't support searching for relative timestamps (like `created>='24 hours ago'`) in the 'created' field.

Porting the logic from PageFinder::find over should be rather straight forward by changing (starting line [1001](https://github.com/ryancramerdesign/ProcessWire/blob/devns/wire/modules/Fieldtype/FieldtypeComments/FieldtypeComments.module#L1001)):

[2016-05-01 20:02] horst-n opened #1805 "Usage of __ CLASS __ has changed with $modules in devns branch"
Hi,
in PW < 3, we could use the __ CLASS __ constant to reference to our classes name when building modules, what was very conveniant.

For example, I often used something like: `$data = wire('modules')->getModuleConfigData(__ CLASS __)`
Now with namespace, this will fail, as __ CLASS __ also contain the processwire namespace prepended, if it is a native PW3 module. I would like to see something l

[2016-05-01 20:25] LostKobrakai commented on #1805
https://processwire.com/api/ref/wire/class-name/

[2016-05-01 21:37] horst-n commented on #1805
Thanks for the hint!

[2016-05-01 21:37] #1805 closed

[2016-05-02 08:10] LostKobrakai opened #1806 "setAndSave() issue with saving page status"
I was using this code, which doesn't work anymore on 3.0.15

[code]

I also tried

[code]

I only started working as soon as I removed the 'status' argument in the save method.

[2016-05-02 08:30] LostKobrakai opened #1807 "child/children selector in 3.0.15"
The child/children selector does not seem to work correctly.
![screenshot 2016-05-02 10 29 10](https://cloud.githubusercontent.com/assets/2489835/14950277/ced04514-1050-11e6-8fac-d862c213d6c4.png)
![screenshot 2016-05-02 10 29 21](https://cloud.githubusercontent.com/assets/2489835/14950278/cee59a22-1050-11e6-9c91-705e8bb299a4.png)

[2016-05-04 08:30] kalmarlansmuseum commented on #1795
Thanks! That works great. The setting is not working for the panels.

[2016-05-04 09:15] ryancramerdesign commented on #1795
Lets keep this one open so I don't forget, as I've been meaning to add esc key to panels as a default behavior.

[2016-05-04 15:37] perrarina opened #1809 "Problem cloning FieldsetOpen field"
When I cloned a field wich type is FieldsetOpen, the functionality does not clone the corresponding tab_END field.
I don't know if this is a bug or if the cloning functionality does not apply for this type of fields.

I'm just informing about the behavior of this functionality.

[2016-05-04 15:57] somatonic opened #1810 "Allow html in labels for jQuery Autocomplete"
Would you consider adding some support for HTML in labels for the Autocomplete Input or maybe even other page select inputs?

I needed this to be able to show thumbnails in the autocomplete search results.

I found a extension that would enable to have HTML in jQuery's Autocomplete.
https://github.com/scottgonzalez/jquery-ui-extensions/blob/master/src/autocomplete/jquery.ui.autocomplete.html.js

I

[2016-05-04 17:44] adrianbj commented on #1810
👍

[2016-05-04 21:49] Toutouwai opened #1811 "Selector my_checkbox!=1 fails to match empty checkboxes"
For a checkbox field named 'my_checkbox', selector my_checkbox!=1 should match pages where my_checkbox is empty (unchecked), but it doesn't.

[2016-05-04 21:54] adrianbj commented on #1811
For reference: https://processwire.com/talk/topic/13153-excluding-pages-from-bootstrap-menu/?p=119402

And to clarify, I don't believe it has anything to do with the name of the checkbox field being "checkbox", but please clarify if I am mistaken.

[2016-05-04 21:57] Toutouwai commented on #1811
I can see how that's confusing so have edited.

[2016-05-05 04:21] adrianbj opened #1812 "Case issue with anchor links in new API docs"
Here's an example:

**Go to:** https://processwire.com/api/ref/page/url/
**then click on:** Page::localUrl() under "See Also"
**which redirects from:** https://processwire.com/api/ref/page/localurl/
**to:** https://processwire.com/api/ref/page/#api-localurl
**but it needs to be:** https://processwire.com/api/ref/page/#api-localUrl

Note the uppercase "U" in Url

[2016-05-05 07:39] cb2004 opened #1813 "When adding a new page the 'Label for Page Name property' is not displayed"
As the title says, if you are adding a new page the label is displayed as 'Name' even if you have entered something in the template. Guessing this may be difficult to fix as a new page can have a choice of templates?

[2016-05-05 20:17] cb2004 opened #1814 "3.0.16: image in repeater is throwing an error when trying to resize"
This was a fresh install, built a load of repeaters with images in my time so I am confused, been over my code and again and again:

[code]

Error: Exception: Method Pageimages::size does not exist or is not callable in this context (in /home/sites/SITE.co.uk/public_html/beta/wire/core/Wire.php line 409) #0 /home/sites/SITE.co.uk/public_html/beta/wire/core/WireArray.php(2103): ProcessWire\Wire->__

[2016-05-05 20:24] cb2004 commented on #1814
The image appears with this, seems url is just returning the files folder and not the actual image.

`<img src="<?= $slide->image_hero->url ?><?= $slide->image_hero ?>" alt="">`

[2016-05-05 20:49] ryancramerdesign commented on #1814
Is this being triggered from front-end code, or is this happening on the
admin side? If front-end, can you paste the code you are using? The error
seems to indicate that some code is calling the size() method on an array
of images rather than on single image().

On Thu, May 5, 2016 at 4:17 PM, cb2004 <notifications@github.com> wrote:

[2016-05-05 20:53] cb2004 commented on #1814
Hi Ryan, hope you are well.

You nudged me in the right direction, I set the maximum files allowed to 1 and all is fine again.

Cheers.

[2016-05-05 20:53] #1814 closed

[2016-05-06 08:27] kixe opened #1815 "error in compat2x: $config not defined"
Got this (and some other) notices/ warnings/errors after setting $config->compat2x = true;
Notice: Undefined variable: config in [...]wire/core/compat2x/Classes.php on line 71

[2016-05-06 12:00] Toutouwai opened #1816 "Javascript error with ProcessPageSearch"
When the admin search is listing results, using the arrow keys to move the focus up and down the results list causes a Javascript error relating to file JqueryUI.js.

Firefox console reports:
TypeError: s is undefined

Chrome console reports:
Uncaught TypeError: Cannot read property 'value' of undefined

Possibly the cause of focused links not being navigable with the Enter key?
https://processwir

[2016-05-06 15:03] gazley opened #1817 "Call to a member function getAllVariations() on null"
Just upgraded to 3.0.16 from .15

Trying to open a page: http://localhost:8888/processwire/page/edit/?id=1

I get the error:

File: .../Inputfield/InputfieldImage/InputfieldImage.module:157

[code]

[2016-05-07 22:24] Toutouwai opened #1819 "Listers fail for user of role if any field has role access restriction"
All listers sitewide are affected by this issue (Users filter, Find, any Lister Pro instances).

The issue is that if any field has been given a role access restriction under "What roles can view and/or edit this field", a user of that role gets an error if they change any of the "field" dropdowns (i.e. the first column) in a lister. Only a spinner is displayed and the browser console reveals:

It

[2016-05-09 01:13] jlahijani opened #1820 "Ability to add custom attributes for radios input"
Let's say I'm using PW's form API to build a form and I have a set of radio buttons and I want to have custom attributes on each radio input (not the radio's label field, but the input element itself).

Currently, it's not possible to do this due to API limitations.  You can only set name, id, value, checked, disabled.  If I'm using something like Vue.js and want to have an attribute like ```v-mod

[2016-05-09 08:36] LostKobrakai opened #1821 "saving a page in Page::loaded hook"
Is there a reason why pages are set "loaded" before they can be successfully modified? V 2.7.2

[code]

[2016-05-09 11:56] cb2004 commented on #1817
I saw the same error 1 commit before 3.0.17 was released. Upgrade to 3.0.17 and it should be fine.

[2016-05-09 18:23] adrianbj opened #1822 "Log viewer puts url in text column if row in log has no text after the url"
Hope that makes sense, but maybe a screenshot would be clearer:
![screen shot 2016-05-09 at 11 20 56 am](https://cloud.githubusercontent.com/assets/871211/15123380/5acd7da2-15d8-11e6-8e4e-0c8b1cda7c89.png)

This can happen if you log a variable that is empty.

[2016-05-10 14:43] beatep commented on #1788
I just tested 3.0.17 and it seems to be fixed?

[2016-05-11 05:35] ivangretsky opened #1823 "Save log files to custom folder, not only to site/assets/logs"
I often have a need to save log from custom service scripts, that bootstrap PW. I want to save them outside of PW installation close to the service script itself. It would be great to use PW in-built functions for that. As PW is becoming more of a framework, I guess it is not necessary to limit such general functions to pre-configured values.

[2016-05-11 06:51] wanze commented on #1823
Hi Ivan,
You can put your own log files anywhere, just make sure that the destination path is writeable:
[code]

[2016-05-11 07:19] ivangretsky commented on #1823
thanks, that worked
for writing to current dir i used
`$log = new FileLog('./', 'my-log-file');`

[2016-05-11 07:19] #1823 closed

[2016-05-11 10:01] cb2004 opened #1824 "3.0.17: images in a repeater do not save"
The upload happens and the image is resized respecting any max dimensions set in the field. When the page is saved the image does not save.

[2016-05-11 10:03] cb2004 commented on #1824
As a sidenote, if I locate the repeater in the Admin > Repeaters section, I can add the image in there no problem.

[2016-05-11 13:44] CaelanStewart opened #1825 "Behaviour of $users->add"
Hi,

This is on the latest version of ProcessWire.

Basically, when I call $u = $users->add('some-name'), the User object is returned as per usual, but it also saves the user to the database WITHOUT me even having to call $u->save().

This caused some confusion earlier, because if a user with the same name already exists, a NullPage is returned instead of a fresh user object. I had not realised th

[2016-05-11 14:00] LostKobrakai commented on #1825
Pages::add as well as PagesType::add do both add a page and save it, which isn't new behavior for both.

[2016-05-11 14:34] CaelanStewart commented on #1825
OK, I see.

Just thought I'd point it out in case it was a mistake.

It might be worth noting that in the documentation so other people don't have the same problem, since creating a new user via...
[code]
...does not save it.

The code example on the PW docs, when looked at with no PW experience would imply the user is only saved once the 4th line has been executed:
[code]

[2016-05-11 15:14] PawelGIX opened #1826 "3.0.17: images tooltips are cut off."
![screen shot 2016-05-11 at 17 10 33](https://cloud.githubusercontent.com/assets/391153/15186043/bcfd45b0-179b-11e6-95dc-ba68b2dd7e63.png)

[2016-05-11 15:20] CaelanStewart commented on #1824
+1, I can second this.

[2016-05-14 15:59] netcarver opened #1827 "Non-blank PageLabelField leads to problems with incorrectly displayed page names in the page list if the last character of the page label is an html entity"
Found this in 3.0.17 - I haven't checked if it is present in any other version.

How to reproduce.
- Edit a template and navigate to the 'advanced' tab.
- Scroll down to "List of fields to display in the admin page list" control and enter '{title}' as the value (without quotes.)
- Create a new page using your edited template and title it '15€' (without quotes.)
- Save your new page.

View the new

[2016-05-15 18:40] ottogal opened #1828 "Debug Tools Panel: Hide icon in breadcrumbs line for non-super users"
With debug mode enabled, clicking the _debug action/icon_ shows the debug tools in a panel - but only for a Superuser.
So the icon should not be visible for non-Super users.

[2016-05-16 04:20] Toutouwai opened #1829 "Comments find function does not accept arrays in selector"
Unlike other PW selectors, selectors used in the Comments find() function cannot include bar-separated arrays of values.
Ref [this line](https://github.com/ryancramerdesign/ProcessWire/blob/master/wire/modules/Fieldtype/FieldtypeComments/FieldtypeComments.module#L999).

It would be great if we could search for comments using arrays for pages_id, created_users_id, etc.

[2016-05-16 10:41] ottogal opened #1830 "Module PageEdit - Setting Default "view" location/action"
When you change the setting _Default "view" location/action_ to _New Window/Tab_, a click to the View tab wouldn't work anymore - you'd have to use the dropdown list. (The other options don't have this issue.)

BTW: Wouldn't it be more consistent to let also the green View Button in the pages tree respect this same setting?

[2016-05-16 19:07] #1698 closed

[2016-05-16 19:59] BernhardBaumrock opened #1831 "name format for children with 1+ allowed templates"
if you setup name format for children "title" with 1 allowed children template everything works fine. if you need a second allowed child template and add this to the template setting of the parent template, the field for the name format disappears, but it's value is still "title" causing buggy behaviour when adding new pages.

1st step: set page title + template
2nd step: edit page --> bug: title

[2016-05-16 21:43] tbba commented on #1685
this seems to be fixed

[2016-05-16 21:43] #1685 closed

[2016-05-17 10:38] cb2004 opened #1832 "3.0.18: Hook order and error checking, is the error check firing too early"
I have a system with numerous hooks in ready.php. When a page is selected, if certain fields are empty, these are populated from the fields in the selected page. I will strip this down to make it easier to follow.

Lets say I have a textarea field and it is set as required. If you consider the hook:

[code]

So my field textarea is populated from the $page->page_selector->textarea correctly, howev

[2016-05-17 11:03] LostKobrakai commented on #1832
Inputfield requirements are not evaluated on the page level, but **just** on the page edit interface level. There no such thing as a required field, but rather the edit form does require an input (hence inputfield requirements). To prevent the message you'd need to hook before ProcessPageEdit::processInput or alike.

[2016-05-17 11:14] cb2004 commented on #1832
Ben, I need to keep a list of how many times you have helped me. Its all about finding the right hook, and that was it.

Thank you.

[2016-05-17 11:14] #1832 closed

[2016-05-17 12:27] trk commented on #1526
FontAwesome 4.6.3 Font Icons list for **InputfieldIcon Module**
(For use updated version : updating icons.php file insinde module folder and font-awesome folder inside admin template folder)
[code]

[2016-05-17 12:49] ryancramerdesign commented on #1526
Thanks Iskender! I will make sure this is included in this week's updates.

2016-05-17 8:27 GMT-04:00 Iskender TOTOĞLU <notifications@github.com>:

[2016-05-17 14:21] LostKobrakai commented on #1526
How about an automated update option in the module's settings?

[2016-05-17 15:45] yckart opened #1833 "$users->get(ID) returns Page-instance instead of NullPage"
[code]
*ProcessWire 3.0.18 devns*

[2016-05-17 19:25] adrianbj opened #1834 "Missing ? breaks Add New shortcut when there is only one possible parent page"
https://github.com/ryancramerdesign/ProcessWire/blob/master/wire/modules/Process/ProcessPageAdd/ProcessPageAdd.module#L203
[code]
should be:
[code]
without the ? it actually shows the page on the front-end.

PS It's line 201 on the devns branch.

[2016-05-17 20:16] adrianbj opened #1835 "InputfieldFile needs same styling on Choose Files button as the new InputfieldImage in PW 3.x"
That's it :)

[2016-05-17 20:19] adrianbj opened #1836 ""Name of page field to display" setting in ProcessPageList also affects Page fields."
![screen shot 2016-05-17 at 1 18 47 pm](https://cloud.githubusercontent.com/assets/871211/15337742/ed862270-1c31-11e6-8daa-f6fca8512797.png)

I don't really think the additional fields should be displayed here.

[2016-05-17 20:41] adrianbj opened #1837 "Add New returning parent and template that no longer exists due to session storage"
I feel like the "nav" session needs to be cleared when a template or page is deleted. It took me a while to figure out why I was still seeing an Add New option that was no longer possible.

[2016-05-17 21:59] Toutouwai opened #1838 "Session Handler Database does not honour $config->timezone"
In the core Session Handler Database module timestamps are stored with MySQL NOW() and no correction is made for differences between the MySQL timezone and the timezone set in $config->timezone.

If a website is hosted on an overseas server chances are the MySQL timezone will be wrong for that website and it's difficult to correct this in a shared hosting environment.

Related [forum topic](https:

[2016-05-17 22:33] thetuningspoon opened #1839 "Field dependencies don't work properly on User templates"
When saving a User page, if I have a field which makes use of inputfield dependencies ("Show if..."), the value of the field is not saved. If I remove the "Show if..." condition, it will then save properly.

[2016-05-18 13:52] rolandtoth commented on #1834
+1

[2016-05-18 19:10] thetuningspoon opened #1840 "Weird redirect when adding page with alternate User template"
I am taking advantage of the new ability to create users of a template different from "user" and adding them in a different part of the page tree. But when I go to create a new page from the page tree using the alternate user template, some kind of weird redirect happens and I end up on /access/users/edit/bookmarks/bookmarks/bookmarks/bookmarks/

If I remove the alternate "Page Class Name" setting

[2016-05-18 19:26] #1787 closed

[2016-05-19 02:11] adrianbj opened #1841 "Add New shortcut button access for non-superusers not respecting inherited permissions"
Maybe this is intentional, but I was surprised that I had to specifically assign access to the parent and child templates to get the Add New button to appear. I thought it should work based on edit inheritance from the home template.

[2016-05-19 09:19] LostKobrakai opened #1842 "WireArray and ArrayObject returning wrong number of items in foreach"
Now that's a weird one. I wanted to add few fieldtypeoptions options with my migrations module on a site. The migration worked wonderfully on my local vm, but didn't do so on the live server. Then I tried to add the new options manually, which didn't do it as well. It turned out that SelectableOptionsArray and it's base class WireArray where somehow swallowing items for the usage in foreach loops.

[2016-05-19 09:21] LostKobrakai commented on #1842
Just to add that here. The array that happened with was a SelectableOptionsArray with a new option added to it like that:
[code]

[2016-05-19 09:40] LostKobrakai commented on #1842
Ok, does really seem to be an PHP issue in 5.5: https://bugs.php.net/bug.php?id=67360
Maybe using ArrayIterator might be the better bet.

[2016-05-19 13:53] ottogal opened #1843 "Save options when editing in modal popup"
If you edit a page in the modal popup, the Save button should have the same options dropdown like in the normal edit view.

[2016-05-20 07:38] kriscreative opened #1844 "Parse Error: syntax error, unexpected ','"
I upgraded my ProcessWire 2.7.2 installation to 3.0.18. Backend works ok. However the file compiler seems to choke on php include statements in my templates:

The below code:
`<?php include_once("./includes/header.inc") ?>`

Is turned into the below code:
`<?php  include_once(\ProcessWire\wire('files')->compile(\ProcessWire\wire("config")->paths->root . "site/templates/includes/header.inc") ,array

[2016-05-20 10:00] cb2004 commented on #1844
Try this:

`include_once $config->paths->templates . 'includes/header.inc';`

[2016-05-20 10:27] rolandtoth commented on #1830
Confirmed here too.

[2016-05-20 12:51] adrianbj commented on #1774
I think I have a better fix for this. Turns out I was misunderstanding what was causing the duplication. The new fix seems to allow remembering of what was open in the tree. It was actually just a matter of removing the home page from the pagelist_open cookie: https://github.com/adrianbj/AdminRestrictBranch/blob/master/AdminRestrictBranch.module#L194

I might be getting a bit OT, here but I think

[2016-05-20 16:46] LostKobrakai commented on #1484
I'm again at this issue, but this time I'm really wanting to cache a json string that's rendered for a frontend charting library. It's just wasted resource to de- and encode the stored cache string, when it's supposed to be rendered as json in the markup.

[2016-05-21 08:32] teppokoivula commented on #1844
Sounds like a broken regex to me. The workaround provided by @cb2004 seems to make sense, but it doesn't solve the actual issue :)

[2016-05-22 20:29] er314 opened #1845 "moderately long path + urlsegment leads to 404 not found"
in this request,
`http://127.0.0.1/dir-level1-abcdefghijklmnopqrstuvwxyz-abcd/dir-level2-abcdefghijklmnopqrstuvwxyz-abcdefghijklmnopqrstuv/preview/`
`preview` is the url segment, and the rest is a valid path to a page.
`-> 404 not found.
`
after a debugging session, here is the reason :
PW seeks for the real URL (out of url1/.../urlN/segm1/.../segmN/ ), and in order to do so, it first tries to fin

[2016-05-22 20:36] init2null opened #1846 "3.0.18: SVG images can be uploaded, but get deleted on next page edit"
Here's a bug in the rewritten image field when using SVG files. SVGs upload without error and display thumbnails, but they have no trashcan icon and are deleted as soon as the page editor is reopened. Existing files uploaded with the old version of image are not deleted, but there's still no trashcan icon, so they can't be deleted at all.

Let me know if any more information is needed. Thanks!

[2016-05-23 00:53] kriscreative commented on #1844
The workaround is working ok for me. Thank you.

[2016-05-23 13:49] FlipZoomMedia commented on #1846
:+1: Same here. In addition, the description field and the name is missing. Left a SVG image, right a normal image (png, jpg, gif).

![pw-svg](https://cloud.githubusercontent.com/assets/708183/15472931/cb4030fe-20fd-11e6-83fe-b5480892274d.png)

[2016-05-23 13:53] adrianbj commented on #1846
A little OT, but it seems that the description field is also missing from File fields.

[2016-05-24 06:23] adrianbj opened #1847 "Cached page tree not updating when new pages added via API."
Maybe not a huge deal, but since 3.0.8 (I think that is likely when it started), you have to reload the page, rather than simply clicking to close and re-open the parent to see its newly added children.

[2016-05-24 07:35] teppokoivula commented on #1847
Sounds like a feature to me (not performing potentially expensive requests when data can be cached), though admittedly it's a 50-50 situation :)

[2016-05-24 13:07] LostKobrakai commented on #1847
It would be nice if it would try to update async and not fully replace the network request. It's really strange that new pages do not pop up.

[2016-05-24 14:15] cb2004 opened #1848 "3.0.19: Open when populated + Closed when blank + Locked (not editable), float field set to 0 not showing"
If I have a float field which has the visibility setting in the title, if it is set to 0 which is a valid input for the system I have built, the field is not open and locked, it is closed.

[2016-05-24 20:27] er314 commented on #1845
update : after looking at the code history, this is a regression which has been introduced in PW 3.0.12, with latest commit to `ProcessPageView.module`.
previously, instead of re-sanitizing the remaining path `$it`, the code was just doing :
`$page = $this->pages->get("path=$it, status<" . Page::statusMax);`

[2016-05-24 20:41] teppokoivula commented on #1847
Perhaps I'm missing your point here, but are you suggesting that page list should fetch the changes between initial load and current (live) state when closed and reopened.. or perhaps it should poll for changes and update real-time even without the close-and-open cycle?

If I'm getting this right, especially the latter option sounds like a pretty cool feature for sites actively updated by more tha

[2016-05-24 21:23] adrianbj commented on #1847
I personally don't think it needs to be live polling (although maybe there is a use for that on some sites), but I do think the children of the close/opened toggled parent should be updated.

[2016-05-24 22:02] thetuningspoon opened #1849 "Using custom alignment classes in Page Edit Image causes issues in CKEditor"
Specifying custom classes in the Page Edit Image module for alignment styles causes issues in the image edit window in CKEditor:
1. The fancy animation that demonstrates how the alignment will appear with dummy text next to the image does not happen.
2. When using a caption with the image, the custom alignment class is not added to the figure element (no class is added at all).

PW 3.0.18

[2016-05-27 13:25] LostKobrakai opened #1851 "devns composer.json"
Is there a reason, why the composer.json does list `"minimum-stability": "dev"`? This way all composer packages installed are dev versions, which is most of the time not preferable.

[2016-05-30 10:27] LostKobrakai opened #1853 "Inline label editing for fields/templates"
<img width="889" alt="screenshot 2016-05-30 12 26 02" src="https://cloud.githubusercontent.com/assets/2489835/15647086/c219f01e-2661-11e6-9232-b0f32c1c6586.png">

It would be nice if one could edit those labels directly inline.

[2016-05-30 17:02] tbba commented on #1618
I close this for now. Did not see that behavior in a while.

[2016-05-30 17:02] #1618 closed

[2016-05-30 17:04] tbba commented on #1686
I close this for now. So much changed with the images in PW3dev this issue maybe obsolete.

[2016-05-30 17:04] #1686 closed

[2016-05-30 17:04] tbba commented on #1584
I close this for now. So much changed with the images in PW3dev this issue maybe obsolete.

[2016-05-30 17:04] #1584 closed

[2016-05-30 17:06] tbba commented on #1772
I close this for now. Not sure the problem still exists.

[2016-05-30 17:06] #1772 closed

[2016-05-31 15:08] thetuningspoon opened #1854 "Renaming a fieldset doesn't rename its corresponding _END field"
An old bug that's a bit of a nuisance. Not sure if this has been reported before.

[2016-05-31 15:36] tbba commented on #1854
Same context: When you duplicate a fieldset, the corresponding _END field isn't yet automatically created for the duplicate.

[2016-05-31 17:10] matjazpotocnik commented on #1854
#1491

[2016-05-31 17:31] phas0r opened #1855 "3.0.18: $pages->find($selectorArray) problems with special characters at the end of a string"
[code]
The same goes for many or maybe all special characters at the end of the string.

[2016-06-01 05:32] rwetzlmayr opened #1856 "3.0.18: Images in Lister results invisible, have zero width and height"
Steps to reproduce:

1. Add any **Image** column to the Lister
1. Find any pages with an image
1. Notice that the image's drop shadow is shown at a very tiny size while the image itself is not visible at all

It seems that `div.gridImage__overflow` elements have an explicit width and height applied to them on the "Edit Page" page:

![screenshot - 01 06 2016 07_23_44](https://cloud.githubuserconten

[2016-06-01 08:44] teppokoivula commented on #1854
Just throwing in a quick +1. Definitely not a big thing, but still annoying. On a recent project I ended up changing names of fieldsets quite a few times, and this doubled the work involved :)

[2016-06-01 17:13] LostKobrakai commented on #1854
+1 from me as well. Considering that both fields are essentially useless if not named correctly this should really be happening.

[2016-06-02 12:07] ryancramerdesign commented on #1774
Thanks Adrian, I've pushed a fix for this.

[2016-06-02 12:32] ryancramerdesign commented on #1779
Changing a template doesn't actually occur at page save. Instead it occurs as a separate process that is basically redirected to after save. So if a page is exited, the template can't be changed

[2016-06-02 12:33] ryancramerdesign commented on #1781
Inputfields use a renderValue() method instead, which depending on the Inputfield may or may not involve markup. So the purpose is a little different, but it may provide what you are looking for.

[2016-06-02 12:43] ryancramerdesign commented on #1785
I don't currently know a way around this issue. What you are duplicating here is basically the scenario where you've got two people editing the same page, and one persons edits overwrite the other persons. Though let me know what I'm wrong. What I observe in your screencast is that you are editing a page "test" and then editing a PageTable page within it, and then going from that PageTable page an

[2016-06-02 13:36] teppokoivula commented on #1779
Perhaps I'm getting this wrong, but if "Save + Exit" is not compatible with changing template, shouldn't using this combination at least be somehow prevented? I get why this happens, but the behaviour itself seems like a bug to me :)

[2016-06-02 13:54] gingebaker opened #1859 "InputfieldPageAutocomplete javascript, no focus() after hitting Enter key"
I found following issue after having to add a lot pages to an InputfieldAutocomplete. Tested this on PW 2.7.2 and 3.0.16.

After typing and selecting the needed Item (with up/down keys) from the Autocomplete List shown under the input I am hitting the enter key. The Item should be added to the list above and the focus should stay on the input field to type again. I think this is how it should be?

[2016-06-02 14:22] ryancramerdesign commented on #1788
Hi @beatep I'm not aware of any fixes particular to this, but there have been a lot of repeater upgrades on the 3.x devns branch, so perhaps we fixed it without realizing it. I'm glad to hear it seems to be fixed though! Please let me know if you find it turns up again.

[2016-06-02 14:24] ryancramerdesign commented on #1789
Glad you found a fix. That advanced mode option to disable autoload modules can be dangerous in some cases like this. I figured keeping it in advanced mode was warranted, but maybe the option should be removed entirely. I haven't actually needed to use it before, but had added it at someone's request.

[2016-06-02 14:28] ryancramerdesign commented on #1794
This feature makes sense to me Teppo. While I don't have time to implement today, I'll hopefully get a closer look soon.

[2016-06-02 14:28] beatep commented on #1788
Yes, indeed I didn't have any problems with the latest releases, so I consider this ticket to be closed.

[2016-06-02 14:28] #1788 closed

[2016-06-02 14:39] matjazpotocnik commented on #1779
+1

[2016-06-02 14:43] ryancramerdesign commented on #1796
That's an excellent suggestion. I have added this in the latest commit.

[2016-06-02 14:48] ryancramerdesign commented on #1797
Repeaters can be nested, but the same exact repeater field can't be nested within itself without creating an infinite loop.

[2016-06-02 14:50] ryancramerdesign commented on #1798
That compat2x directory doesn't need to be there anymore. I've only left it there for now because it keeps phpstorm happy when I'm editing non-namespaced modules. But it's not going to appear in the 3.x master.

I wonder how Composer is finding it? I haven't had that occur here. Is it possible you've got $config->compat2x = true; ?

[2016-06-02 14:54] LostKobrakai commented on #1798
The classmap autoloader does find them and I need composer to autoload the core classes (instead of pw) as otherwise the classes are not stub'able by the testing framework. But this is probably not something you need to accomodate for.

[2016-06-02 15:00] ryancramerdesign commented on #1799
The issue here is that Notification is the name of a ProcessWire class. So it's one of the symbols that's looked for by FileCompiler. Since you are using a "use" statement, which is part of PHP namespace vocabulary, this is a case where you really don't want the FileCompiler active. Since you are already using namespace features (as in the "use" statement), I'd suggest adding a "namespace ProcessW

[2016-06-02 15:07] ryancramerdesign commented on #1800
Thanks Adrian, good point. I have updated this.

[2016-06-02 15:13] ryancramerdesign commented on #1801
Hi @TomasKostadinov I've replied in the forum you linked.

[2016-06-02 15:19] ryancramerdesign commented on #1802
The InputfieldPageAutocomplete is meant for matching text fields only. You might be able to get it to work if you change the operator to "=" (exact match), but there's a good chance that still won't work because this Inputfield was created specifically for text matching, not for numbers. Number indexes and text indexes are fundamentally different things at the database level.

[2016-06-02 15:48] valieand commented on #1802
Does it mean that problem should be resolved through CUSTOM inputfield (a-la InputfieldPageAutocomplete but that works on number indexes)? Or right solution is to have it in CORE (updated InputfieldPageAutocomplete or new inputfield)?

[2016-06-02 17:28] LostKobrakai commented on #1779
I feel like the Save + Exit should result in a defered exit as in redirecting to the changed-template screen and exiting after that.

[2016-06-02 20:03] ryancramerdesign commented on #1803
Adrian, the $user API variable is bunched in with all the other system pages, which typically don't have output formatting enabled since they aren't pages with URLs that would be output on the front-end. I can see a case for the $user one to have it enabled by default, though only if someone has modified the template to have more fields than the system provides with the user template. However, I w

[2016-06-02 20:16] ryancramerdesign commented on #1806
The `setAndSave()` actually can't be used with properties native to the `pages` table because those properties are only saved with the page as a whole. Meaning, setAndSave() is purely about saving page fields, not native properties. Though I would like to abstract that further so one doesn't have to think about that. But in order to make it worthwhile, $pages->saveField() would need to support the

[2016-06-02 21:14] ryancramerdesign commented on #1807
Thanks @LostKobrakai I've pushed a fix for this.

[2016-06-02 22:34] kixe commented on #1776
Thanks for changing this.

[2016-06-02 22:34] #1776 closed

[2016-06-03 14:14] ryancramerdesign commented on #1811
Thanks @Toutouwai I have pushed a fix for this issue.

[2016-06-03 14:21] ryancramerdesign commented on #1812
Thanks Adrian! I have fixed this so that it should work now.

[2016-06-03 14:24] ryancramerdesign commented on #1813
That's correct, if multiple templates are possible, then it has to use the original/common label for it. Whereas if only one template is possible in the location, then it will use your custom labeled name instead.

[2016-06-03 14:26] ryancramerdesign commented on #1815
The compat2x mode is no longer in use, we decided not to keep it. I've only got it around in the devns branch to keep phpstorm happy with some module development, but it'll be removed completely before 3.x reaches the master branch.

[2016-06-03 14:41] cb2004 commented on #1813
Cheers @ryancramerdesign

[2016-06-03 14:41] #1813 closed

[2016-06-03 14:42] ryancramerdesign commented on #1816
Thanks @Toutouwai I've been looking at this one for a good 30 minutes, but can't seem to figure it out. Following the stack of error messages, they never even get into PW's JS files, making me think it might be some kind of bug in jQuery UI. I'll keep an eye out.

[2016-06-03 14:43] ryancramerdesign commented on #1817
I can confirm, upgrading should fix that one. Though please let me know if you continue to see it.

[2016-06-03 15:06] ryancramerdesign commented on #1820
You should be able to set more attributes, but those attributes get applied to the label that wraps the checkbox, rather than the checkbox itself. The InputfieldRadios::addOption() method will accept an array of attributes as the 3rd argument. Because the custom attributes get added to the wrapping `<label>` you may need to modify your JS to refer to that direct parent element of the checkbox, rat

[2016-06-03 15:10] #1820 closed

[2016-06-03 17:23] ryancramerdesign commented on #1824
I haven't been able to duplicate this one. Have tried both repeater and repeater matrix with an images field set to max width dimension of 500px, and uploading giant jpegs to it. Any other factors you can think of? Any repeater settings different from the defaults?

[2016-06-03 17:28] ryancramerdesign commented on #1826
I tried putting a CKEditor textarea using inline mode above an images field, but am not seeing that z-index issue here. Is that text field above your images field something different than what it hooks like?

[2016-06-03 17:33] ryancramerdesign commented on #1825
This is actually the purpose of the add() method, just to save you a step or two relative to doing a `new User()`. All Pages/PagesType operations are database operations, and those API vars exist exclusively to interact with the database. For cases where you don't want that behavior, it's perfectly fine to use the regular way like in your first example above.

[2016-06-03 17:44] ryancramerdesign commented on #1827
That's some excellent detective work there. Unfortunately I wasn't able to duplicate the issue after setting up the same test case that you mentioned with 15€. Perhaps there's some other factor. But the source of the problem you tracked down makes a lot of sense and I can see that needs to be fixed regardless of whether I can duplicate the same issue. I've pushed a fix. Please let me know if you c

[2016-06-03 18:09] ryancramerdesign commented on #1828
Thanks @ottogal, good catch, I have pushed a fix for this issue.

[2016-06-03 18:25] ryancramerdesign commented on #1844
Thanks guys, I've pushed a fix for this. The issue was that the PHP statement is missing a semi-colon at the end, and FileCompiler expects PHP statements to be terminated with a semicolon. It looks like a semi colon is optional in this case, so I've updated FileCompiler to recognize that.

[2016-06-03 20:48] PawelGIX commented on #1826
Not occurred since the version (3.0.18)

[2016-06-04 11:19] LostKobrakai opened #1861 "trackException"
Shouldn't allowExceptions allow **all** exceptions? I'm using this with my testing suite and I'd really like pw to throw all exceptions no matter what it is.

https://github.com/ryancramerdesign/ProcessWire/blob/devns/wire/core/Wire.php#L1181-L1183

[2016-06-04 12:24] FlipZoomMedia opened #1862 "WireMail / Sanitizer E-Mail does not accept IDN domains"
WireMail does not accept e-mail addresses with IDN domains as sender or recipient, info@bäckerei-müller.de for example. In my view, the problem lies in the Sanitizer class, when checking e-mail addresses. The e-mail should be already converted before the test.

**Test case**
[code]

**Throws:**
[code]

ProcessWire version: 3.0.18

[2016-06-04 23:22] Toutouwai opened #1863 "Deprecated constructor in TextformatterSmartypants module"
The core TextformatterSmartypants module gives deprecated constructor notices in PHP7. The issue lies in the [SmartyPants library](https://github.com/michelf/php-smartypants) by Michel Fortin which is used in the module, but this library has not been updated since 2013 so maybe it should be fixed in the PW repository rather than waiting for a fix from the library owner?

There is some [discussion]

[2016-06-05 12:37] TomasKostadinov commented on #1801
@ryancramerdesign Did my forum post get deleted? I'm getting an error :(

[2016-06-06 06:28] rwetzlmayr opened #1864 "devns: InputfieldFile::init() misinterprets 'post_max_size=0' setting in php.ini"
PHP 5.3.2+ [allows unlimited post size by setting `post_max_size` to 0](https://secure.php.net/manual/en/ini.core.php#ini.post-max-size).

[InputfieldFile::init()](https://github.com/ryancramerdesign/ProcessWire/blob/86d5d20dd94f22b45993de52b18ab6da21473e5d/wire/modules/Inputfield/InputfieldFile/InputfieldFile.module#L124) sets `$this->maxFilesize`to a default of 5M in that case. This contradicts

[2016-06-06 10:00] jacmaes opened #1865 "Major error after installing SystemNotifications core module on 3.0.20"
This is the error log:

`2016-06-06 11:55:46	jacmaes	http://www.mysite.com/processwire/module/	Error: 	Uncaught Error: Call to a member function getNew() on null in /home/mysite/public_html/wire/modules/System/SystemNotifications/SystemNotifications.module:464 Stack trace: #0 /home/mysite/public_html/wire/modules/System/SystemNotifications/SystemNotifications.module(366): ProcessWire\SystemNotific

[2016-06-06 15:21] ottogal commented on #1843
Rethinking my proposal: it seems not adequate to the "modalitiy" of a modal window...

[2016-06-06 15:30] ottogal commented on #1828
You changed the tool icon into a bug icon - for consistency this should also be done at the bottom link to Debug Mode Tools.

[2016-06-07 14:51] #1800 closed

[2016-06-07 15:39] adrianbj commented on #1803
Thanks Ryan - I see your point - perhaps it doesn't need to be configurable as long as it is clearly noted in the docs.

Is there a logical reason why this works without needing to turn formatting on?
[code]

I understand what is going on, but it does seem weird.

[2016-06-07 15:44] #1812 closed

[2016-06-07 22:39] adrianbj opened #1866 "Example site profiles namespace consistency"
Just found out that the default profile comes with namespaced template files, but the beginner one does not.

I am not sure whether they should be or not, but perhaps they should be consistent across the board?

Just for reference, this is how I came across this:
https://processwire.com/talk/topic/13473-trouble-with-class-not-found-in-append-file/?p=121723

[2016-06-08 04:07] mikelexp commented on #1856
I can confirm this bug, and it's also present on 3.0.20, using ListerPro 1.09.

[2016-06-08 04:13] mikelexp commented on #1856
@rwetzlmayr It seems like the recently released ListerPro 1.10 fixes this issue, could you please test it?

[2016-06-08 05:06] rwetzlmayr commented on #1856
@mikelexp I do not own Lister Pro. This issue concerns the [core Lister](https://github.com/ryancramerdesign/ProcessWire/blob/master/wire/modules/Process/ProcessPageLister/ProcessPageLister.module).

[2016-06-08 05:43] mikelexp commented on #1856
@rwetzlmayr That's weird. I've upgraded ListerPro on all my 3.0.18/20 installations and the issue is not present anymore. Maybe ListerPro overrides some Lister code that's causing the issue.

[2016-06-08 15:00] ryancramerdesign commented on #1830
Thanks @ottogal I have fixed the issue and it will appear in this weeks' commits.

The purpose of the PageList is to navigate to another place. Whereas the purpose of PageEdit is about editing and working with a specific page. That's why this setting is specific to the PageEdit module. In PageList, if you want to open in new window, then you'd do a cmd+click. Or if you want to open in a modal, the

[2016-06-09 01:05] yckart commented on #1290
Yeah, I've also had thought about that. It's quite confusing, because I always think "Ouh great, there's something new to configure"...

With *they can be hidden*, you mean the Settings button, right?

[2016-06-09 01:12] yckart opened #1867 "showListFilters option in ProcessField module has no effect"
Filters are always visible (collapsed), maybe this option could removed?

[2016-06-09 03:15] adrianbj opened #1868 "Deleting default Find Lister (via Lister Pro) break Usage section in ProcessTemplate"
https://processwire.com/talk/topic/13281-unrecognized-path-in-template-edit-page/

[2016-06-09 04:36] kixe opened #1869 "WireArray::each() with namespace"
If passing a string to method each(), the string has to include the functions namespace.
Would be nice to have a hint in the method description. It took me a while to get this.
php.net/manual/en/function.is-callable.php#107105

[code]

[2016-06-09 06:00] kixe commented on #1854
+1

[2016-06-09 06:14] LostKobrakai commented on #1290
I meant the literal InputfieldHidden, but visibility settings should probably be included as well in such a feature.

[2016-06-09 09:29] ryancramerdesign commented on #1831
Thanks @BernhardBaumrock that's a good find, I've pushed a fix for this issue.

[2016-06-09 09:34] #1831 closed

[2016-06-09 09:42] ryancramerdesign commented on #1833
Thanks @yckart that's a great find, I have pushed a fix. The issue was a matter of caching.

[2016-06-09 09:44] ryancramerdesign commented on #1834
Thanks Adrian! I've just pushed a fix for this one.

[2016-06-09 12:36] #1834 closed

[2016-06-09 12:43] adrianbj commented on #1290
Just for reference - similar issue?: https://github.com/ryancramerdesign/ProcessWire/issues/516#issuecomment-46083158 - read the second half of Ryan's response.

[2016-06-09 13:11] yckart commented on #1290
I have too much time 😆

**Yepp**
- AdminThemeDefault
- AdminThemeReno
- CommentFilterAkismet
- FieldtypePage
- FileCompilerTags
- InputfieldPage
- InputfieldPageName
- InputfieldSelector
- JqueryWireTabs
- LanguageSupportPageNames
- MarkupCache
- MarkupRSS
- PageFrontEdit
- PageRender
- ProcessField
- ProcessForgotPassword
- ProcessLanguage
- ProcessPageAdd
- ProcessPageEdit
- ProcessPageEditImage

[2016-06-09 14:20] ryancramerdesign commented on #1838
Thanks, I've pushed a fix for this issue. Can you confirm it also fixes it on your end?

[2016-06-09 14:26] ryancramerdesign commented on #1839
Field dependencies seem to be working okay for me when editing a user page. Can you tell me more about what type of dependency you are using and the exact string used to define it? Also, just to confirm, this is when editing a user, not when editing your own profile? Thanks.

[2016-06-09 14:29] ryancramerdesign commented on #1840
Does it work if you add them from the Access > Users instead? I'm pretty sure we've blocked the ability to edit users outside of ProcessUser. Meaning, if you try to edit a user from the page tree, it should redirect to ProcessUser. Seems like that redirect isn't working in the case you've mentioned though.

[2016-06-09 14:35] ryancramerdesign commented on #1842
That's some good debugging work, I'm impressed you tracked that one down. Sounds like they actually fixed this one on the same day that it was reported, nice.

[2016-06-09 14:39] ryancramerdesign commented on #1843
In a modal, the options don't apply because there aren't really any other paths for the user to take here. Depending on the case, we either close the modal for them on save, or let them close it.

[2016-06-09 14:42] LostKobrakai commented on #1842
Maybe we should still accommodate for that, as ubuntu's 14.04 default php version is still affected by this. Meaning anybody running on such a machine cannot add any options to the options fieldtype (and possibly other things, which rely on empty keys). I'm also not really sure why we need the ArrayObject anyway, as it's also just returning an ArrayIterator instance.

[2016-06-09 14:48] ryancramerdesign commented on #1845
Thanks @er314, I'm always impressed how far you research these things and are able to track them down. That selectorValue sanitizer was added when we added support for UTF-8 page names, just in case someone forgot to define a whitelist for their page names. I've bumped up the length that it will support to 2048. While URLs can get longer, it usually has to do with a query string rather than a path

[2016-06-09 15:02] ryancramerdesign commented on #1846
Thanks, I've pushed a fix for this.

[2016-06-09 15:11] ryancramerdesign commented on #1848
The code behind this (and field dependencies) is written as general purpose for all fields, rather than as having unique rules for each field type. It's in the javascript rather than in PW's PHP code. So if we were to consider 0 is something other than empty in this context, then the code would no longer work for page fields (as an example, among others). So this might be a case where you'd want t

[2016-06-09 15:15] ryancramerdesign commented on #1849
Unfortunately this is a case where you've got to stick with PW's classes, otherwise it will have no way of showing you a preview of the effect, since it knows nothing about styles from classes in your front-end stylesheets. You might use this configuration option to add a secondary class for front-end use though. For instance, maybe you could specify "align_left uk-align-left". Though in my case,

[2016-06-09 15:17] ryancramerdesign commented on #1851
I don't know, I'm just using values others have recommended here. Probably dev in this case because this is a dev branch. Though I presume nobody is going to use the stock composer.json exactly as-is. But if you think a different default value would be better just let me know and I'm happy to change it.

[2016-06-09 15:26] LostKobrakai commented on #1851
If I understand the property correct then minimum-stability is just used for resolving project dependencies, which processwire does not have by now.

[2016-06-09 15:46] #1835 closed

[2016-06-09 16:00] ottogal commented on #1843
Yes, that was my second thought about it... Thx, Ryan.

[2016-06-09 16:00] #1843 closed

[2016-06-09 16:04] ottogal commented on #1830
Thank you Ryan, I see the point.

[2016-06-09 16:42] thetuningspoon commented on #1840
Yes, it does work when adding from Access > Users.

[2016-06-09 16:49] thetuningspoon commented on #1849
Can't the editor get the class from the Page Edit Image module's config, though? Isn't that what that setting on there is for?

I'm sticking with the default classes for now, which are working well. They just don't follow my usual naming convention.

[2016-06-09 16:55] thetuningspoon commented on #1839
The field I am checking is the roles field. I think I was using the page id to match it, i.e. roles=1001

[2016-06-09 18:36] ryancramerdesign commented on #1855
Thanks @phas0r I've pushed a fix for this issue.

[2016-06-09 19:13] ryancramerdesign commented on #1856
Thanks @rwetzlmayr I've pushed a fix for this issue.

[2016-06-09 19:18] teppokoivula commented on #1290
Checking if a module implements an interface is very simple and very fast, but wouldn't this essentially require that the system iterates through all it's config settings and only then figure out whether to show it or not? Unless, of course, we implement something else for this purpose, like a module info item or another interface ("Foo implements Module, ConfigurableModule, NotReallyConfigurableM

[2016-06-09 19:22] LostKobrakai commented on #1290
I think just a interface (maybe rather HiddenConfigurationModule) is enough. Modules are only visible by superusers anyway, but the whole "configure" dropdown in the admin does loose it's value if 1/3 of the modules don't actually provide visible module settings.

[2016-06-09 19:26] adrianbj commented on #1290
My thoughts exactly - I never use this because the list is often longer than the separat Site and Core ones.

[2016-06-09 19:26] ryancramerdesign commented on #1859
The blur is needed to trigger another set of events. However, I think it's okay if we tell it to focus again after that blur. I've added this, so will see if any issues turn up.

[2016-06-09 19:29] ryancramerdesign commented on #1861
Exceptions are considered severe by default, so the option is only provided if it needs to be overridden for some reason. Meaning, the allowExceptions option allows all exceptions, unless the developer has specifically indicated that one shouldn't be. Is there some exception in particular that it's coming through the way you need it?

[2016-06-09 19:38] er314 commented on #1845
No problem, it was the occasion to finally make use of PHP xdebug tools :-)
I confirm it's fixed, thanks.

[2016-06-09 19:38] #1845 closed

[2016-06-09 19:39] teppokoivula commented on #1290
For the record, I must say that those numbers kind of confuse me, and so does the list above. For an example, at least some of the modules under "Nope" are not configurable at all. Was the point just to list all modules or am I missing something here? :)

Checking on one of my own sites, I have exactly three core modules that implement ConfigurableModule but don't have configuration settings: Repe

[2016-06-09 19:41] LostKobrakai commented on #1861
I just noticed it, when implementing bugsnag into one of my projects. I just looked at the few exceptions, which you tagged as non-severe and most of them are really not of my concern, so maybe you're right on this, but still feels a bit odd that allowExceptions would not throw all of them.

[2016-06-09 19:52] LostKobrakai commented on #1290
Tbh I've not looked it up again by now :D, but @yckart's list seems to overlap with mine, even though I've fewer ones. The interface solution would be a nice optional addition for those modules, which really only hold a hidden field on purpose, but that's about it. I don't think this should get more attention than that.

[2016-06-10 05:08] rwetzlmayr commented on #1856
Thanks.

[2016-06-10 05:08] #1856 closed

[2016-06-10 07:32] #1807 closed

[2016-06-10 07:34] #1799 closed

[2016-06-10 07:35] LostKobrakai commented on #1798
I'll close this as it's really not related to processwire and the exclude from classmap does resolve the issue anyways.

[2016-06-10 07:35] #1798 closed

[2016-06-10 07:37] LostKobrakai commented on #1796
Thanks for that.

[2016-06-10 07:37] #1796 closed

[2016-06-10 07:40] LostKobrakai commented on #1783
For reference I'm talking about these lines: https://github.com/ryancramerdesign/ProcessWire/blob/devns/wire/core/Page.php#L917-L933

[2016-06-10 07:45] #1605 closed

[2016-06-10 07:45] #1603 closed

[2016-06-10 07:47] LostKobrakai commented on #1484
I've created a way around it for now: https://processwire.com/talk/topic/13342-wirecache-and-json-data-quirks/

[2016-06-10 07:48] LostKobrakai commented on #1508
Are there any news on that one?

[2016-06-10 07:51] LostKobrakai commented on #1387
Just revisiting this: How is processwire handling the extention problem you mentioned if one is manually adding a new module and doing a refresh?

[2016-06-10 07:51] #1375 closed

[2016-06-10 07:52] #1318 closed

[2016-06-10 07:53] #1295 closed

[2016-06-10 08:41] gingebaker commented on #1859
thx ryan!

[2016-06-10 08:41] #1859 closed

[2016-06-10 09:10] ivangretsky opened #1870 "maxFilesize does not read from post_max_size if in bytes"
Good day!
I am in the same situation again as it is described in this [forum post](https://processwire.com/talk/topic/11084-exceeds-max-allowed-file-size-error-on-live-server/). The issue is that [this code](https://github.com/ryancramerdesign/ProcessWire/blob/devns/wire/modules/Inputfield/InputfieldFile/InputfieldFile.module#L126) does not work with post_max_size if defined in bytes (as it happen

[2016-06-10 12:24] somatonic opened #1871 "Problems with SessionHandlerDB and ajax images upload and "tempFiles""
I found out after debugging why on some installations the images ajax upload is broken regarding isTemp and its storage in session.

It turns out it happens only if the SessionHandlerDB is installed.

So if I drag some images into the images field they get uploaded fine as usual, but after saving the page some images disappear. While they're still in the assets folder they are not saved to the fie

[2016-06-10 13:27] ryancramerdesign commented on #1862
The problem is that PHP's own FILTER_SANTIZE_EMAIL and FILTER_VALIDATE_EMAIL don't support IDNs. Our sanitizer essentially delegates email sanitization/validation to PHP. I don't feel confident that I'm up to coding a separate email sanitizer with IDN support, as doing it right would probably be a significant undertaking. If you know of any existing solutions that are really solid, we could always

[2016-06-10 13:44] ryancramerdesign commented on #1863
Thanks, I've pushed an update for this .

[2016-06-10 13:54] ryancramerdesign commented on #1864
This is intentional. There may be situations in PHP where it's okay to have no limit, but in our context it's not okay. So if the limit is not set in PHP (indicating unlimited) we substitute our own default. I could certainly bump it up to a larger number if you think that would help? But from a security standpoint, I think it's best to have some kind of limit even if PHP itself doesn't.

[2016-06-10 13:57] teppokoivula commented on #1862
Unless you're against pulling in components from other frameworks, there are multiple options available: https://zendframework.github.io/zend-validator/validators/email-address/. As an added bonus this particular package supports MX checks and other "advanced" features, should we ever find a reason to implement those :)

[2016-06-10 14:02] ryancramerdesign commented on #1865
I can't duplicate the error here, but with the debug backtrace you provided that gave me a spot to add a couple more checks, just in case. The latest commit has those checks. Please let me know if you continue to run into any issues with it. Thanks.

[2016-06-10 14:05] ryancramerdesign commented on #1866
The beginner ones are meant to be as absolutely simple as possible, which is why we leave the namespace out of that.

[2016-06-10 14:05] FlipZoomMedia commented on #1862
According to the [documentation](http://php.net/manual/de/filter.filters.validate.php#102398) and a bug report at [drupal](https://www.drupal.org/node/1427516#comment-7695829) the PHP filter supports IDN addresses, if this has been previously converted into Punycode. The following example works:

[code]
You were already intigriert the Punycode converter in one of the latest versions? Then you can

[2016-06-10 14:07] ryancramerdesign commented on #1867
Yes, that can be removed. I have deleted it. Thanks.

[2016-06-10 14:08] ryancramerdesign commented on #1868
The default Lister is not meant to be deleted, since it serves as the admin search engine, among other things. I'll update ListerPro to prevent deleting of it. Thanks.

[2016-06-10 14:08] #1868 closed

[2016-06-10 14:10] FlipZoomMedia commented on #1862
OT: I am currently working on a module, which does such audits. DNS (MX/A), DNSBL, SBL-checks, etc. This can be used for WireMail, WireMailSMTP, CommentsFilter, or as API. :)

[2016-06-10 14:17] #1866 closed

[2016-06-10 14:22] ryancramerdesign commented on #1869
If specifying a function, the $func argument should be an actual callable closure/function. Whereas string arguments are meant to map to a property of items in the WireArray or a formatting {string}. Though can see how is_callable() can work with strings too… but unless I'm forgetting something (always possible), that's not the usage we intended here. Can't remove it now of course, if people are u

[2016-06-10 14:28] ryancramerdesign commented on #1870
Thanks, I've pushed a fix for this issue.

[2016-06-10 14:32] ryancramerdesign commented on #1871
I use SessionHandlerDB on pretty much all of my installs, but have not observed this issue. Just made a couple attempts with seven 5-7mb images that took awhile to upload, but everything seems to be working how it should. Are there any other factors present that you can think of? Any other modules making ajax requests in the background, like SystemNotifications for instance? Are you editing other

[2016-06-10 14:34] rwetzlmayr commented on #1864
Thanks for the explanation. May I add some background?

- I am working on a local development server. The security implication of an unlimited post size in this use case is 'me shooting myself in the foot'.
- I am using ImportPagesCSV with a > 30MiB CSV file. This file may grow as the project progresses.
- ImportPagesCSV seems to import just nothing until I realize that `post_max_size` protects me

[2016-06-10 14:43] rwetzlmayr commented on #1864
This **was** my current workaround for this issue ;)

[2016-06-10 14:58] somatonic commented on #1871
No vanilla PW, no modules not other actions. And it seems others can reproduce this problem too.

[2016-06-10 15:08] #1770 closed

[2016-06-10 15:09] #1526 closed

[2016-06-10 15:58] jacmaes commented on #1865
I've removed then uploaded the latest wire folder, but I'm still getting errors when I log out, then try to log back in. This is what I'm getting:

`Error: Uncaught Error: Call to a member function message() on null in /home/quorumseleccion/public_html/wire/modules/System/SystemNotifications/SystemNotifications.module:573
Stack trace:
#0 /home/quorumseleccion/public_html/wire/core/WireHooks.php(61

[2016-06-11 01:34] Toutouwai opened #1872 ""Save + Exit" does not apply template change"
When changing the template for a page in Page Edit, choosing "Save + Exit" does not apply the change. Choosing "Save" does apply the change as expected.
PW 3.0.20

[2016-06-11 02:02] Toutouwai opened #1873 "Default admin theme: alignment of collapse icons"
A minor styling issue...
If an inputfield header contains more than one icon the following CSS rule places an additional margin to the right of the inputfield collapse icon, putting it in a different position than the normal alignment.

![collapse-icons](https://cloud.githubusercontent.com/assets/1538852/15982483/056c9a22-2fdd-11e6-89dc-c692b9cbdf53.png)

[2016-06-11 02:12] Toutouwai opened #1874 "Default admin theme: CKEditor focus style looks odd"
A minor styling issue, and matter of opinion. Just close this if you don't agree :-)
When unfocused CKEditor has a 1px grey border. When focused the border turns white, and this looks a bit odd to my eye. Darkening or lightening the border would be fine, but white disappears into the background and makes the field look less focused if anything.
![editor-focus](https://cloud.githubusercontent.com/a

[2016-06-11 03:39] Toutouwai opened #1875 "Default admin theme: tab appearance in Chrome"
A minor styling issue...
In Chrome (Windows), the appearance of the 'WireTabs' in the admin theme is not quite right.
![tabs](https://cloud.githubusercontent.com/assets/1538852/15982917/a2447fc4-2fea-11e6-9438-cf4ad557260e.png)

I use the following fix in the AdminCustomFiles module:

[2016-06-11 08:18] teppokoivula commented on #1872
This issue looks like a duplicate of #1779. Please correct me if I'm wrong.. and thanks for reporting it either way :)

[2016-06-11 08:57] Toutouwai commented on #1872
I missed that issue. Yes, this is a duplicate.

[2016-06-11 08:57] #1872 closed

[2016-06-11 11:32] kixe commented on #1815
Thanks for the information.

[2016-06-11 11:32] #1815 closed

[2016-06-11 11:43] kixe commented on #1869
Since both methods is_callable() and ReflectionFunction::__construct() accepting strings as functions I can see an enhancement. The namespace will only be added if a callable function is detected.

If a property and a method have the same name there will be a conflict anyway using each() in PW 2.x
This solution should work in any case:

[code]

[2016-06-11 11:45] LostKobrakai commented on #1875
The same happens on Chrome for Mac.

[2016-06-11 11:47] tbba commented on #805
@roope: issue can be closed?

[2016-06-11 14:13] FlipZoomMedia commented on #1785
Hi Ryan,

excuse my late response. That you have understood correctly. In this procedure, the uploaded file is deleted by storing the page "test" again. The problem is probably in the modal window for selecting / upload, because this automatically loads the upload field from the page "test". I've seen anywhere in the source that the modal window for selection / uploads is trying to find an upload

[2016-06-11 15:00] FlipZoomMedia commented on #1871
I can confirm the problem. But I could not explain to me, how and why. I've blame it first to the PHP max_upload_size, but that was wrong. I have noticed this last week, with a new PW 3.x installation without modules, but also on an existing 2.7 installation with an upload field for a gallery. Uploads with pictures greater then 2 MB the half is lost.

[2016-06-11 19:29] TomS- opened #1876 "Crop not working 3.0.20+"
I don't know if this effects earlier versions. 0.20 and 0.21 are the only ones I've tried it on.

[2016-06-11 19:55] TomS- commented on #1876
Seems to be a problem with Caching on the server using UNIXy Varnish, this comes pre-installed on some shared hosting platforms. Great idea in practice, however it seems to cause problems with ProcessWires cropping system.

[2016-06-12 10:23] ryancramerdesign commented on #1875
I noticed the issue just popped up one day without any changes to the core, so it seems to be due to a change in the webkit engine. The problem with setting a height on .WireTabs is that it breaks the tabs when they need to occupy two lines. For instance, try going to the template editor and then collapsing the width of your screen. So far I've not found a solution, but let me know if there's anyt

[2016-06-12 10:29] ryancramerdesign commented on #1875
Actually it looks like changing the $tabs-height var in _vars.scss to 2.6em rather than 2.5em might resolve it. I'm guessing that messes it up in other browsers, but going to test further.

[2016-06-12 10:31] Toutouwai commented on #1875
Do you mean when the tabs switch appearance to be buttons? This happens at a device width breakpoint so you would just disable the 2.5em height rule at that breakpoint.

[2016-06-12 10:35] ryancramerdesign commented on #1875
No it's not a breakpoint. Can't be done with a breakpoint because the only
way to know when tabs need to switch to 2 rows (buttons) is by using JS to
measure the height. That's why setting a specific height breaks things.

On Sun, Jun 12, 2016 at 6:31 AM, Toutouwai <notifications@github.com> wrote:

[2016-06-12 10:39] Toutouwai commented on #1875
Ah, good point.
How about:

Works in Windows Chrome.

[2016-06-12 12:23] #1876 closed

[2016-06-12 16:00] arjenblokzijl commented on #1871
Same issues here too. Clean PW 3.0.21 install with Minimal Site Profile on MySQL 5.5.49 and PHP 7.0.

Steps I've taken:

1. Create an image field and assign to the homepage
2. Upload bunch of images (I used 72 images from around 1mb to 5mb)
3. When the uploading is finished save the page
4. Refresh page => all 72 images are there (so far so good 👍 )
5. Delete images
6. Install SessionHandlerDB
7.

[2016-06-12 16:10] adrianbj commented on #1871
Just referencing a related forum post: https://processwire.com/talk/topic/13522-problem-with-ajax-images-upload-and-sessionhandlerdb/

[2016-06-12 16:35] JanRomero opened #1877 "Custom users cannot be edited from the page tree or found in admin search ($user->editable())"
I keep a special class of users with a custom UserTemplate within the non-admin part of the page tree. These users are supposed to be administrated by standard users who have a certain role. When these administrator users (non-superusers) navigate to a custom user’s edit page via Access->Users this works fine. What doesn’t work is accessing the edit page via **page tree actions** or the **admin se

[2016-06-12 18:20] LostKobrakai commented on #1877
This is expected behavior as users are meant to be edited by ProcessUser only. But I'm with you, that the page-tree actions should still work and deligate to ProcessUser in this case.

[2016-06-12 19:28] LostKobrakai commented on #1871
This seems like a race condition issue to me. I'm just not sure, why this should be correlated to SessionHandlerDB.

I've added this to the Pagefiles::isTemp method right after $tempFiles retrieval from the session.
`$this->log->save('debug', count($tempFiles));`

[code]

[2016-06-12 19:34] cstevensjr opened #1878 "Automatic Page Name Format Stopped Working for PageTable in PW 3.0.21"
After upgrading from PW 3.0.20 to 3.0.21, the Automatic Page Name Format in the PageTable field stopped working.  If you revert back to PW 3.0.20, it works again.

Opened a ProcessWire Forum post on this same subject

https://processwire.com/talk/topic/13538-automatic-page-name-format-not-working-for-pagetable-pw-3021/

[2016-06-12 20:16] Roope commented on #805
Yep, sorry..

[2016-06-12 20:16] #805 closed

[2016-06-13 09:17] #1864 closed

[2016-06-13 16:03] ryancramerdesign commented on #1871
I think I've tracked down the issue. I was able to duplicate it on localhost after attempting to upload 84 giant jpegs, because I had a few missing after that. The ajax uploads are just throwing too many requests to the server at the same time. Each request has to obtain a lock for the session data, otherwise it would become corrupted. Some of the uploads aren't able to obtain an exclusive lock be

[2016-06-14 04:51] matjazpotocnik opened #1879 "Small typo in readme-pw.md"
The words "replacing your" are repeated in section Upgrading from ProcessWire 2.7

[2016-06-14 14:47] thetuningspoon opened #1880 "Still having issues with CKEditor and mystyles.js"
PW 3.0.17

If two CKEditor text fields on the same page are configured to use the same "mystyles" name/reference, then only one will correctly load the custom style configuration. If you copy the code in the mystyles.js file and give it a different name/reference (i.e. yourstyles) and then configure the second CKEditor field to use that name instead, then both fields will load the custom configura

[2016-06-14 22:03] adrianbj commented on #1774
Thank Ryan - unfortunately I am not sure that is desired behavior - I think it should still open any sub-branches under the page with the specified ID. I think the approach I mention above: https://github.com/ryancramerdesign/ProcessWire/issues/1774#issuecomment-220597150 is better - I am not convinced it is completely perfect (I think @rolandtoth might still be having some issues). Maybe it needs

[2016-06-15 14:11] BernhardBaumrock opened #1881 "maxColHeightSpacer below 768px"
please see this topic + solution https://processwire.com/talk/topic/13389-adminonsteroids/?p=122139

[2016-06-16 06:45] rolandtoth commented on #1774
I haven't upgraded my sites to the latest version to check - I'll get back when I find something.

[2016-06-16 12:00] somatonic opened #1882 "MarkupCache.module Example code with $cache"
In the top of the MarkupCache.module there's an example code.

 * Example usage:
 *
 * $cache = $modules->get("MarkupCache");
 * if(!$data = $cache->get("cityOptions")) {

I think this needs to be changed since the $cache is now System var for WireCache.

[2016-06-16 13:27] somatonic commented on #1871
Thanks Ryan. I've tested this and seems to make the difference. It didn't happen anymore so far.

[2016-06-16 13:27] #1871 closed

[2016-06-16 16:05] somatonic commented on #1875
This is tricky and not done very solid, even though there's no real solid solution. I looked into it and tested in various browsers (browserstack)

It all comes down to how you set the elements and paddings etc. Currently there's padding and a fixed height, once you take out the height you see that the padding is stretching more than the height is set.

The problem with the height on the a element

[2016-06-16 21:18] jlahijani opened #1883 "when loading page from asm select, "crop" and "variations" button appear in modal window"
Let's say you have a Page field that is ASM Select, that is configured to allow you to edit a page directly from clicking the item in the ASM Select.

The modal window has a Save button as it should, but it also erroneously has a "Crop" and "Variations" button.
![x](https://cloud.githubusercontent.com/assets/4558/16133510/17c48038-33cd-11e6-9969-ed99dc8bfd4d.jpg)

[2016-06-16 23:39] jlahijani commented on #1883
Note: This only occurs AFTER images have been uploaded to the page and the page is opened in the modal after this fact.

[2016-06-16 23:45] jlahijani commented on #1883
Note: It also only occurs when the images of a field are being viewed using the "list" view (the view that allows you to edit the description).

[2016-06-17 00:16] Toutouwai commented on #1838
Yes, it's fixed. Thanks.

[2016-06-17 00:16] #1838 closed

[2016-06-17 00:18] #1863 closed

[2016-06-17 09:45] felixwahner opened #1884 "Possibility to prioritize execution of FileCompiler Modules"
In some cases people might want to use not only one but several FileCompiler Modules (let's say first twig and some minifier afterwards). It would be nice to have the possibility to control in which order the files get modified. Is there already a possibility to do so?

[2016-06-18 12:23] andoro opened #1885 "Front-end editing: arrow icon display issue"
I've attached a screenshot for this.
<img width="1186" alt="kepernyofoto 2016-06-18 - 14 19 16" src="https://cloud.githubusercontent.com/assets/775765/16170835/1bc012e4-3560-11e6-9048-a2c86a99ffa2.png">

[2016-06-19 10:36] fabschurt opened #1886 "Maybe "Page" is not a very explicit term to refer to the content nodes?"
I've stumbled upon ProcessWire this week, and I don't get how I've never heard about this CMS before, because it's so awesome.

Having read the whole documentation and preparing to develop my first professional project with the CMS, there's this one thing that I found very peculiar about the design of the framework: the choice of the word **Page** to refer to the various entities managed by the pl

[2016-06-19 11:16] tbba commented on #1886
I understand why are you saying this. I am coming from the Drupal world of "nodes" and "entities" (and super clever people trying to explain the difference) and found this super abstract terminology always a down turner there, adding to the learning curve: Things felt much more complicated than they often were, when explanations were wrapped in super strict science terminology.

It's a matter of t

[2016-06-19 11:39] fabschurt commented on #1886
Well, yes, I agree that in a sense, this choice of word is practical and does lower the learning curve because "page" actually works well in 90% of the cases, when nodes do translate to "pages" on the frontend. It only gets a bit confusing when you realize that non-visual nodes are "pages" too (users, etc.). That being said, this may actually be clearly stated somewhere in the documentation, I can

[2016-06-19 11:39] #1886 closed

[2016-06-19 12:08] mindplay-dk commented on #1683
Why wasn't the constructor fix merge to 2.7?

I seem to have no other problems thus far running 2.7 on PHP 7.

[2016-06-19 13:52] Bill-C commented on #1316
Hi, I hit the same sort of error today. I'll attach the html from the trace. Thanks.
[Fields • ProcessWire • localhost.zip](https://github.com/ryancramerdesign/ProcessWire/files/322323/Fields.ProcessWire.localhost.zip)

[2016-06-19 18:48] #1827 closed

[2016-06-20 15:48] adrianbj opened #1887 "Silence / Shutup operator usage"
I always thought these were considered bad practice in most cases. Isn't it better to write the logic to prevent the error in the first place? I know it's not always possible and I have used `@` myself in the past,  but one obvious place it's not needed (unless I am missing something, which is quite possible), is here:
https://github.com/ryancramerdesign/ProcessWire/blob/devns/wire/core/Session.ph

[2016-06-21 07:16] felixwahner opened #1888 "FileCompiler: Allow compilation of non-php Files"
The new FileCompiler is a great addition for those who don't like/want to use plain PHP as a templating language. We've just recently started developing a new FileCompiler module ( [FileCompilerTwig](https://github.com/marcostoll/processwire3-file-compiler-twig/tree/master/FileCompilerTwig) ) which is going to replace "TemplateTwigReplace". As far as we've noticed currently only files ending with

[2016-06-21 08:37] teppokoivula commented on #1887
Just curious, but why does this make error_get_last() useless? I haven't checked at which point in the execution flow this happens, so this might explain it, but I'd assume that session is started early on, in which case this shouldn't be that big of a problem.

My humble opinion is that a) this seems like the expected behaviour (I would assume that knowing something went wrong here is a good thin

[2016-06-21 11:29] adrianbj commented on #1887
@teppokoivula - I would have thought the same thing - ie session is started early so it really shouldn't affect error_get_last. Maybe it was just something about my particular use case - I should probably have tested more widely. It's weird to me that PHP doesn't have any option to ignore silenced errors though.

Good point about `session_status` being >= 5.4 - I didn't notice that - looks like th

[2016-06-21 11:29] #1887 closed

[2016-06-22 14:55] somatonic opened #1889 ""create new field" on template edit issue"
I experience a missbehaviour when adding a new field to template via "create new field" link.

It opens modal, I set new field and hit save and see an empty admin page inside the modal:

![image](https://cloud.githubusercontent.com/assets/370148/16271412/2f224022-389a-11e6-8253-a32e6aeac00d.png)

[2016-06-22 14:59] somatonic opened #1890 ""Missing required value (labelFieldFormat)" when saving a page field"
I get this error show although the label format is set and not empty

![image](https://cloud.githubusercontent.com/assets/370148/16271508/93a5488c-389a-11e6-8e71-c81ed01dd8e2.png)

[2016-06-22 15:07] adrianbj commented on #1889
Just to confirm that it's happening for me too. Here is the problem line and the commit it was added on:
https://github.com/ryancramerdesign/ProcessWire/commit/8c02030b66ffcce02500d0624ac3ebc71ef96cdc#diff-1af7c5cf398c4f8ce33b808cd88a842aR1407

[2016-06-22 15:35] trk opened #1891 "Can you add translation support for InputfieldPassword.module to line 291, 292"
Can you add translation support for **wire/modules/Inputfield/InputfieldPassword/InputfieldPassword.module** to line 291, 292

[2016-06-22 16:25] harikt opened #1892 "[Conversation] Purpose of namespace in template"
Hi @ryancramerdesign ,

I was looking at these template files https://github.com/ryancramerdesign/ProcessWire/blob/devns/site-default/templates/home.php and wonder whether the namespace is really needed. Is there any special purpose you kept the namespace ?

Thank you

[2016-06-22 20:08] blynx commented on #1892
They are needed if you don't want your template files to be compiled. So I think the answer you want is 'yes'.

From the blogpost: https://processwire.com/blog/posts/processwire-3.0-alpha-2-and-2.6.22-rc1/#compiled-template-files

[2016-06-22 21:18] blynx opened #1893 "Automatic retrieval of parents of users with alternate user template"
Hi,

https://processwire.com/blog/posts/processwire-core-updates-2.5.14/#multiple-templates-or-parents-for-users

what about a better implementation of that feature? So that alternate user templates (`$config->userTemplateIDs`) and the parents of those users (`$config->usersPageIDs`) get automatically detected?

Right now I still have to retrieve the ids of the parents with a manual PDO query in t

[2016-06-23 04:55] harikt commented on #1892
Thank you @blynx .

[2016-06-23 04:55] #1892 closed

[2016-06-23 05:53] kalmarlansmuseum opened #1894 "Empty image field produces error in finder?"
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') ) )) WHERE (pages.status<8192) AND (((num_field_tumnagel_1>0 AND pages.templ' at line 4

![finder-error](https://cloud.githubusercontent.com/assets/11423659/16293116/7d4d95e4-3917-11e6-8a2b-ec048fc05131.jpg)

[2016-06-23 12:59] ryancramerdesign commented on #1892
Technically the namespace could be left out, and that's what we did in the
beginner profile. But since this was the intermediate profile, I thought it
would be a good place to introduce using it. Also, I really see the
template compiler as being something to ensure existing sites continue to
work in PW3. For new sites, I prefer to keep the compiler out of it (not
that it matters that much).

On We

[2016-06-25 19:32] #1861 closed

[2016-06-26 03:55] imad5000 opened #1895 "Fatal Error when trying to add a new language"
![languages add](https://cloud.githubusercontent.com/assets/20147901/16360423/ee1debde-3b6a-11e6-9b0a-4f0f0a7847ac.png)

[2016-06-26 03:58] imad5000 commented on #1895
ProcessWire 3.0.23 devns © 2016

[2016-06-27 19:29] cstevensjr commented on #1878
Updated to PW 3.0.23 and same problem exists.  Had to downgrade back down to 3.0.20 to properly use PageTable fields.

[2016-06-27 22:40] er314 opened #1896 "selector on pageTable.fieldname.data1xxx does find a match where it shouldn't ?"
default language page id is 1009, fr language page id is 1013.
[code]

can you reproduce & do you agree ?
PW 3.0.22

[2016-06-28 09:32] CaelanStewart opened #1897 "Feature Request: Save & Edit Next"
Hi All,

I find that often I will have to manually iterate through many pages to edit the same field(s). Save & Exit is good, and makes it a bit quicker. But Save & Edit Next should automatically save the current page, and open the edit page for the next page in the order they appear in the page tree. Would make those manual processing tasks a little more efficient.

[2016-06-28 09:51] ryancramerdesign commented on #1873
Thanks, I hadn't noticed that before but you are right. I've just pushed a fix.

[2016-06-28 09:58] ryancramerdesign commented on #1874
I completely agree. It looks like a style meant for the inline editor was getting applied to the regular editor. I have pushed a fix for this, thanks.

[2016-06-28 10:15] ryancramerdesign commented on #1878
Thanks @cstevensjr I have pushed a fix for this issue.

[2016-06-28 10:38] matjazpotocnik commented on #1897
Maybe you could use macrura's Prev/Next Tabs http://modules.processwire.com/modules/prev-next-tabs/

[2016-06-28 10:56] CaelanStewart commented on #1897
That would involve one less click, but the same number of page loads as is already required. You would still need to click save, wait for the page to load, and then click next.

I know this is only a small thing, and would probably only take a very short amount of time to implement. But when you're editing many pages, it *feels* like it's making a big difference when the number of clicks and page-

[2016-06-28 11:07] ryancramerdesign commented on #1877
Currently it would only work if the user was superuser. But I think it's okay to open up the permissions a bit here for users that have user-admin permission. I've updated it so that you should be able to get working edit links from within PageList and PageLister.

[2016-06-28 11:08] ryancramerdesign commented on #1879
Thanks this has been fixed.

[2016-06-28 11:16] #1879 closed

[2016-06-28 11:40] ryancramerdesign commented on #1880
Thanks @thetuningspoon I've pushed a fix for this issue. Please let me know if you see any more errors.

[2016-06-28 11:45] CaelanStewart commented on #1897
https://github.com/ryancramerdesign/ProcessWire/pull/1898

[2016-06-28 11:56] ryancramerdesign commented on #1881
Thanks @BernhardBaumrock I've pushed your fix for this issue.

[2016-06-28 11:58] ryancramerdesign commented on #1882
Thanks, I've updated that example.

[2016-06-28 12:07] ryancramerdesign commented on #1883
Thanks @jlahijani I've pushed a fix for this issue.

[2016-06-28 13:33] cstevensjr commented on #1878
I can confirm that this fix works on an updated PW 3.0.23 for PageTable field